{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月16日，芝加哥公牛以121-103客场大胜洛杉矶湖人。此役，洛杉矶湖人的三分外线手感极差，在公牛队中，朗佐-鲍尔一人就投进了7记三分球，一人比湖人全队还要多。同时，美媒统计了一项关于球哥三分球进化的数据。

    　　根据数据统计，球哥在本赛季至今的三分球命中率高达44.4%，刷新生涯纪录，他的三分球命中率已经连续五个赛季不断攀升。
    　　2017-18赛季，湖人，30.5%；
    　　2018-19赛季，湖人，32.9%；
    　　2019-20赛季，鹈鹕，37.5%；
    　　2020-21赛季，鹈鹕，37.8%；
    　　2021-22，公牛，44.4%。
    　　尽管此前球哥因为在湖人时期三分球表现糟糕，因此而遭到球迷们的嘲讽。如今，球哥也是用出色的表现证明了自己的实力。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}