{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，本-西蒙斯的情况目前仍是悬而未决。他拒绝为76人出战，76人也难以找到合适的交易对象。近日，《Hoopshype》记者Michael Scotto做客某节目称，在恩比德新冠检测呈阳性之前，76人一度战绩出色，而这进一步降低了西蒙斯的交易价值。

    　　恩比德是在打完11月7日对阵公牛的比赛后新冠检测呈阳性的，他也由此开始缺席，目前连续缺席了5场，76人竟遭遇5连败。
    
    　　在恩比德缺席前，76人在没有西蒙斯的情况下，在前10场取得8胜2负，一度高居东区榜首。这更让西蒙斯显得可有可无了。
    
    　　据Scotto所说，他曾和联盟多支球队高层聊过76人的情况，没有人为76人感到难过，反而纷纷认为76人高层在西蒙斯交易谈判中要价过高，因为他们明明知道，西蒙斯本人已不愿再待在76人了。
    
    　　其中有些球队高层还认为，当恩比德仍保持健康，76人也没有遭遇连败之前，76人在没有西蒙斯的情况下还是表现很出色的，而这进一步降低了西蒙斯的交易价值。通常情况下，当一支球队失去了明星球员后，一般都会陷入挣扎，然而76人却是一路高奏凯歌，甚至领跑东区。直到恩比德也倒下，76人的战力才真正受损。
    
    　　76人究竟会如何处理西蒙斯，目前来看仍是个谜。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}