{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月12日，昨天热火苦战一加时，以117-120不敌湖人，但阿德巴约的防守在本场比赛是值得肯定的。据《Five Reasons Sports》记者Brady Hawk报道，面对阿德巴约的防守，安东尼-戴维斯和威少合计竟11中2中。

    　　具体来说，面对阿德巴约的防守，戴维斯6投1中，威少则是5投1中。从内线防到外线，阿德巴约的防守能力由此可见一斑。
    
    　　最终，昨天比赛，戴维斯23投10中，其中三分2中1，罚球4中3，得到24分13个篮板4次助攻；威少22投10中，其中三分7中3，罚球2中2，得到25分12个篮板14次助攻的三双，但也有8次失误。
    
    　　阿德巴约昨天则先发出战34分钟，20投9中，罚球11中10，得到全队最高28分，还有10个篮板4次助攻6次抢断，但他也6犯离场。
    
    　　几天前，美媒曾公布了本季新一期的最佳防守球员赔率，阿德巴约位列第5，落后于鲁迪-戈伯特、戴维斯、扬尼斯-安特托昆博和迈尔斯-特纳。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}