{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，鹈鹕大将锡安-威廉姆森新赛季还一场未打，不过他已经允许参加对抗性训练，离复出不远了。

    　　锡安本来因为脚伤而缺阵。在夏天他体重大增，从128公斤增加到了144公斤，这影响了他的恢复。
    
    　　鹈鹕官方宣布，威廉姆森从今天起允许参加对抗性训练。先从1对1开始，然后逐渐参加全队训练。
    
    　　在赛季开始前，鹈鹕就曾希望锡安能出战，但他的恢复情况比想像中的慢很多。新赛季已经打了快一个月，他还未能回归。
    
    　　11月25日，鹈鹕将对他再次进行检查，决定能否复出。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}