{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月26日，布鲁克林篮网球星凯文-杜兰特与他的公司在巴尔的摩投资1.5亿美元，用于翻新Royal Farms Arena（皇家农场体育中心）。

    　　对此，巴尔的摩市长也是十分兴奋，他说：“世界上最好的篮球运动员，因为他（杜兰特）相信巴尔的摩。”
    
    　　值得一提的是，这座球馆是巴尔的摩子弹队的旧馆，杜兰特的这项投资已经得到当地政府的支持。
    
    　　据悉，该球馆将在明年2月份正式动工，升级该球馆的外部，重点是内部的翻新，从而让这座球馆能够适合举办一系列的活动。
    
    　　这1.5亿美元并不是杜兰特全部都自掏腰包，其中有一部分钱是杜兰特通过公司的融资所拿到的。在翻新之后，这座体育中心将会每年至少举办84场大型活动，包括音乐会、体育比赛等等。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}