{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月25日，据美国媒体报道，萨克拉门托国王队在解雇了卢克-沃顿主教练之后，金特里目前担任球队临时主帅。管理层对金特里提出了新的要求，希望他不要做出太多的人员变动。

    　　美国篮球媒体人Jake Ficher爆料，多位消息人士透露，国王高层希望金特里、福克斯和国王能够重获他们的强势开局，而不是做任何明显的人员变动。
    
    　　休赛期国王队传出了与本-西蒙斯交易的绯闻，近来球队的战绩不佳让外界猜测可能会促成这笔交易达成。但是双方并没有就此有过深入交谈，国王始终把哈里伯顿和福克斯作为球队非卖品，而且76人的马克西已经成了队内首发控卫，打出了非常不俗的表现。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}