{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月15日，特雷-杨拿下赛季最高的42分，为老鹰复仇雄鹿立下大功。

    　　特雷-杨在首节就投中了5记三分球，独得15分。第二节他减少出手次数，本节末段，他在队标附近出手，命中超远三分。上半场他投中7个三分球，已经得了27分。
    
    　　第三节他只得4分，但在第四节再次爆发。最后他26投16中，三分球13投8中，得了42分、10次助攻和8个篮板。
    
    　　这是他本赛季的最高得分，也是本季首次突破40分。在此之前，他本赛季最高得了32分。
    
    　　得40分，对于特雷-杨来说并不是新鲜事。上赛季他共4次得分40+，最高的一场得了43分。
    
    　　而在2019-2020赛季，他有11次得分40+，最高一场得了50分，至今仍是个人纪录。
    
    　　老鹰在东部决赛被雄鹿淘汰，无缘总决赛，今天狭路相逢，老鹰渴望复仇，这也是特雷-杨爆发的原因。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}