{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月26日，尽管在湖人夺冠，但霍华德生涯最值得铭记的仍是他效力魔术时期。近日，霍华德接受《GQ》杂志记者Tyler R。 Tynes的专访。期间他谈到当年离开魔术，称奥兰多永远是他家，但离开才能长大。

    　　在专访中，上赛季曾效力过76人的霍华德谈到了队友兼好友本-西蒙斯。在被问到“如果你是西蒙斯，你会回归76人吗？”时，霍华德却谈起了自己当年离开魔术的经历。

    　　霍华德称，他首先会表现得很职业，做好自己的工作，尽力打出最佳表现。但他也认为西蒙斯可能也需要一个全新的开始，而这正是当年他为何离开魔术的原因。“球队和奥兰多这座城市都没做错什么，”霍华德说，“我爱奥兰多，永远爱奥兰多！每次我离开奥兰多，都等不及想要再回去。”
    
    　　霍华德称，他当年之所以离开，和奥兰多的球迷毫无关系。他只是在奥兰多待了8年后，想要换个地方，每个人都应获得一次重生的机会，“我在那里待得太舒服了，但我也希望能像个男人那样去成长，”霍华德说。
    
    　　在霍华德看来，离开魔术之后，他所期待的事几乎都发生了。如今回头来看，他会庆幸自己当初离开了魔术，否则他永远不会像今天这样，永远无法获得成长。
    
    　　2004年霍华德被魔术选为状元秀，一直效力到2011-12赛季。在此出战621场，他场均得到18.4分13个篮板2.2次盖帽，命中率57.7%。他在此6次入选全明星，4次当选篮板王，2次当选盖帽王，还连续3年当选最佳防守球员，6次入选最佳阵容，5次入选最佳防守阵容。2009年，霍华德还率魔术闯入总决赛。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}