{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月21日，钱德勒-帕森斯上一次在NBA亮相还是在2019年底，后来他遭遇了一场车祸，就此淡出NBA。近日，帕森斯在街头偶遇《TMZ》记者，表示自己还在努力从车祸中恢复，是否回归NBA要看情况，同时透露他明年结婚。

    　　帕森斯来自佛罗里达大学，在2011年次轮第38顺位被火箭选中，在此逐渐崭露头角。2013-14赛季，他场均可得16.6分5.5个篮板4次助攻1.2次抢断，总命中率47.2%，三分命中率37%。

    　　2014年休赛期，帕森斯和独行侠达成3年4600万合同，但由于伤病，他的生涯开始走下坡路。2016年，他和灰熊达成4年9400万合同，事实证明这是NBA性价比最低的合同之一。在灰熊的3个赛季，帕森斯总共仅出战95场，场均仅得7.2分2.6个篮板1.8次助攻。大部分时间，帅气多金的帕森斯都身陷各种绯闻之中，他的场外生活貌似更精彩。
    
    　　2019年7月，灰熊将帕森斯送至老鹰。2020年1月15日，帕森斯驾驶的劳斯莱斯和一位酒驾司机相撞，这次车祸导致他部分脑损伤、部分腰椎间盘突出和嘴唇撕裂。在他的律师声明帕森斯的生涯都可能受此影响后，老鹰在2020年2月裁掉了他。
    
    　　此番在被问到是否还想在NBA复出时，现年33岁的帕森斯表示，他仍在努力训练保持体型，仍在努力从车祸中恢复过来，很多事都需要顾及。他称那次车祸让他伤到了脖子、肩膀和脑子。他坦言从未想过自己会在31岁退役，他当时的体型保持得不错，而且挺健康，那次车祸来得太不是时候了。
    
    　　不过，帕森斯也带来了些好消息。他和未婚妻Haylee Harrison刚生下了一个孩子，二人计划明年10月在墨西哥结婚。
    
    　　“帕帅”还有机会在NBA复出吗？
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}