{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    霍华德和保罗，一个中锋，一个后卫，但在场上却多次发生冲突。霍华德近日接受采访，表示要化干戈为玉帛。

    　　虽然两人打不同的位置，但因为都很争强好胜，在场上有时也会对位，这就使得冲突在所难免。在最近一次太阳打湖人时，双方还险些动手。
    
    　　霍华德接受采访时承认，两人的矛盾由来已久，他甚至已经忘记了从什么时候开始。
    
    　　在霍华德的采访中，他很诚恳地表示，不想再跟他争吵下去，而是希望双方能化解矛盾。
    
    　　他也承认，当初矛盾很深，有时候恨不得取保罗项上人头，而保罗也有同样的感觉。
    
    　　到了职业生涯末期，霍华德成熟了很多，不想再陷入这种无谓的冲突中。
    
    　　不过，不要以为是霍华德怂了，他在场上仍然斗志十足。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}