{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月20日，美国男篮官方宣布，前NBA球员以赛亚-托马斯和贾斯汀-安德森将递补进入本次美国男篮名单，代表美国男篮参加月底的2023世界杯预选赛美洲区的比赛。

    　　美国男篮本次派出了一支基本由NBA发展联盟球员组成的国家队，参加本月在墨西哥开启的世界杯预选赛。
    
    　　阵容组成有：乔丹-贝尔、布莱恩-鲍文二世、约什-格雷、沙奎尔-哈里森、BJ-约翰逊、奥兰多-约翰逊、卢克-科内特、查森-兰德尔、扎维尔-辛普森和伊曼纽尔-特里。
    
    　　以赛亚-托马斯和贾斯汀-安德森是顶替受伤退出的戴奎恩-杰弗里斯和弗兰克-梅森三世。
    
    　　球队将于明天在休斯顿开启训练营，当地时间11月28日，他们将对阵古巴男篮，11月29日对阵墨西哥男篮。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}