{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，活塞二年级前锋萨迪克-贝在今天迎来生涯里程碑。据活塞官方透露，他今天生涯三分命中数跨越200大关，而他用时84场，并列历史第三。

    　　今天活塞主场以97-89战胜步行者，萨迪克-贝14投5中，其中三分4中3，罚球4中2，得到15分6个篮板2次抢断。
    
    　　本场前，萨迪克-贝生涯共命中199记三分。而本场他的三分命中数跨越200大关，达到202记。
    
    　　达成这一纪录，萨迪克-贝共用时84场比赛，就此追平米切尔和东契奇，并列NBA历史第三快。位列本榜单前2位的分别是邓肯-罗宾逊（69场）和安东尼-爱德华兹（82场）。
    
    　　来自维拉诺瓦大学的萨迪克-贝在2020年第19顺位中选。本场前，他本季出战13场，场均得到14分6.8个篮板3.1次助攻1.2次抢断。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}