{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    在充满肌肉碰撞的NBA赛场上，出现冲突司空见惯，裁判也会根据当时的情况，有时候对冲突双方各打50大板，赛后该罚款罚款，该禁赛禁赛，这事一般就算过去了。

    　　但总有人觉得“不行啊，我要为兄弟出头，这事怎么能就怎么算了呢”？
    
    　　比如最近沸沸扬扬的约基奇和大莫里斯的冲突事件，本来裁判已经对双方各自处罚了恶意犯规，赛后再罚个款禁个赛，程序就算是完成了。
    
    　　但先出阴招的大莫里斯方可倒好，反而向约基奇反咬一口，他的队友吉米-巴特勒当时隔空对约基奇约架的视频在网络上传成了头条新闻，甚至有媒体拍到巴特勒赛后带着热火全队堵约基奇的照片流出。
    
    　　我不知道巴特勒是不是真的有勇气和身高2米11体重128公斤的小丑皇约架，但他出格的举动绝对是把这个事态升级了，为此还被联盟罚了3万美金。
    
    　　再加上小莫里斯恶人先告状，还点名约基奇小心点，“在我大哥背后偷袭，你就等着吧”，这个事情可就没那么简单了。
    
    　　当热火方的呛声在网络上发酵了一段时间后，约基奇的两个哥哥终于坐不住了，他们特地开了一个叫“约基奇兄弟”的推特账号给小弟助阵（其实开了两个，最早的一个因为忘记密码不用了），点名小莫里斯“你少来威胁我弟弟，是你哥哥先出下三滥招数的，如果你要来找麻烦那我们就等着你”。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}