{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月20日，湖人遭遇三连败。湖人当家球星勒布朗-詹姆斯复出登场32分钟，16投10中得到23分6篮板2助攻。赛后，詹姆斯接受采访，谈及了自身和球队的状况。

    　　谈到自己本场复出的感受，詹姆斯说：“感觉还不错。缺席两周半，远离比赛让我有点感觉自己重回新秀时代。不过，我很激动。身体状况而言，我感觉还行，感觉足够好到让我知道可以信任自己的身体，能够在今晚登场参赛。我更期待看看明天当我醒来后感觉如何，那才是可以展现我是否在伤病恢复进程中迈向正确方向的线索。”
    
    　　当被问到他对待本赛季的心态时，詹姆斯说：“对我而言，就是情况从来不像看上去那么糟糕，也从来不像你感觉的那么好。所以，你就要在整个历程中保持平稳心态，理解这是我们将要经历的一个漫长过程。当事情感觉不舒服时，我总是感觉很自如。所以，我很期待我们努力取得进步的过程。不，我们要变得更好，而不只是去尝试。我们会变好的，我们会改进的。但要接受不舒服的感觉，我们应该每天都在录像会议、战术演练、训练中以及在赛场上的每一刻去体验不舒服的感觉，直到我们回归正轨。然后当形势感觉良好时，我们应该觉得更加不舒服，因为我说过了，情况从来不如感觉的那么好，也从来不像看上去那么糟。”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}