{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，据美国媒体报道，休斯顿火箭队在兜售约翰-沃尔的过程中，并没有吸引到任何球队的关注。迈阿密热火队近日表露出对沃尔的兴趣，但是他们并不会选择交易。

    　　美国篮球记者巴里-杰克逊爆料，如果沃尔能够与火箭队达成买断，那么热火队一定会积极争取签下沃尔。但是如果火箭队坚持寻求交易沃尔，热火队并没有意向要去交换。
    
    　　不过ESPN在之前报道中提到，沃尔并不想放弃自己最后一个赛季价值4740万美元的球员选项，加上这个赛季他的年薪达到了4430万美元，剩余的薪资是沃尔一直坚持不买断的一个原因。另外对于火箭队来讲，如果白白将沃尔放走，他们还需要支付买断费，对于本就经营状态不乐观的老板来讲，更是一笔不小的损失。   
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}