{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月24日，据美国媒体报道，费城76人队球员乔尔-恩比德在连续缺阵八场比赛之后，即将迎来复出的希望。

    　　美国篮球记者沃神爆料，之前因为触发健康安全协议的恩比德，有望在对阵明尼苏达森林狼队的比赛中完成复出。
    
    　　“接下来费城的主场比赛可能会是恩比德回归的一个时机，在本周日和下周一这两个时间段，恩比德最快会在本周日代表球队出战。”沃神说道。
    
    　　恩比德本赛季只打了9场比赛，场均贡献21.4分9.6个篮板和4次助攻1.4次封盖。由于他感染新冠，76人截至目前的战绩为10胜8负，暂时排在东部第八位。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}