{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    现在联盟掀起科比-布莱恩特的球鞋收藏热，不但球迷收藏，很多NBA球员也收藏。

    　　德玛尔-德罗赞就是其中最为疯狂的一个，“近两年如果不穿科比球鞋，你跟人沟通都有困难，”德罗赞很夸张地说。
    
    　　科比的一些球鞋现在存量很小，NBA球员对此趋之若鹜。热火前锋PJ-塔克是集鞋达人，他就收集了不少科比的鞋子。
    
    　　雷霆新秀吉迪在赛季开始前签了代言合同，但他也是狂热的科比鞋迷。像他这样的球员，甚至穿着价值1500美元的科比球鞋。
    
    　　他们还让经纪人四处收罗，不过却不成功。“我让一些人帮忙，对科比鞋的追求永不会厌倦，”太阳大将德文-布克说。
    
    　　有消息说，科比家人将与赞助商结束合同，那意味着很多鞋将成为绝版，这也是收藏热高涨的原因。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}