{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，克里斯-米德尔顿今天复出，就平了一项队史纪录，三分球总数追平雷-阿伦。

    　　米德尔顿此前因感染新冠而缺阵多场，今天他复出。
    
    　　他上半场状态平平，前5投全失，但下半场逐渐找回感觉，最终三分球6投2中。
    
    　　投中2个三分球后，他在雄鹿的三分球总数达到了1051个，与雷-阿伦追平，并列榜首。
    
    　　雷-阿伦是NBA史上第一三分手，居NBA三分球总榜首，不过很快就会被库里超过。
    
    　　而在雄鹿，他的三分球纪录也保持了多年，直到米德尔顿追平。下一场米德尔顿只要投中一个，就将反超，成为雄鹿队史第一人。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}