{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    NBA名宿凯文-加内特近日接受采访，谈到了湖人前锋勒布朗-詹姆斯和NBA名宿迈克尔-乔丹。

    “那是不同的尊重程度，”加内特说，“我把迈克尔-乔丹视为上帝。我认为他是我心中篮球的样子。关于勒布朗，感觉他更像是一位小兄弟。就是那种小兄弟不断成长，然后有一天，小兄弟变得比所有人都出色了！我的天啊！我当然跟他讲过垃圾话。我当然对他说过一些疯狂的话。他也对我回喷过一些疯狂的话。”
    
    不过，加内特称赞了詹姆斯长期担任NBA门面球员的表现：“你必须内在拥有那种实力，才能够肩负那份责任。没人在这件事中是完美的，也没有关于如何做件事的指南手册。他做得TMD很棒了。我觉得给予他那份尊重，这是必须要做的正确的事。”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}