{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，“字母哥”扬尼斯-安特托昆博最近接受采访，他暗示，将来有可能离开雄鹿。

    　　记者先是让“字母哥”说出几个跟自己很像的球员，他的答案是：奥尼尔、科比、“魔术师”约翰逊和加内特。
    
    　　安特托昆博认为，自己的身上，有这些人的影子，“我不知道，也许最像沙克（奥尼尔）吧，能统治篮下，也有点像‘魔术师’，能在场上奔跑，找到队友，”安特托昆博说，“还有一点KG，有那种攻击性的韧性。还有点像科比，充满工作热情。我争取从每个球员身上学一点。如果要跟某个球员作比较的话，我也说不清。这是一个很好的问题。”
    
    　　安特托昆博还说，他喜欢接受挑战，“下一个挑战也许不会在这里（雄鹿）”。
    
    　　湖人正在找勒布朗-詹姆斯的接班人，他们会瞄准“字母哥”吗？
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}