{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    勇士明天将打公牛。面对老东家，主帅史蒂夫-科尔一直有很深的感情。

    　　公牛经过交易之后，本赛季实力提升，目前8胜3负，与奇才并列东部榜首。
    
    　　勇士则是西部第一，目前10胜1负。
    
    　　科尔很高兴看到公牛取得如此好的战绩。“我为公牛感到高兴，这些年来，我一直在为他们加油，”科尔说，“他们变成一支真正有竞争力的球队，所以这令人兴奋。”
    
    　　两队都有重要球员可能缺阵。勇士大将格林昨天伤退，原因是大腿拉伤，明天也可能缺阵。
    
    　　公牛大将乌切维奇则因确诊新冠缺阵。上一场打76人时，他防守恩比德，而恩比德已经于此前得了新冠。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}