{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月25日，热火的腾飞正从吉米-巴特勒在2019年加盟开始。据《太阳哨兵报》的热火跟队记者Ira Winderman报道，热火主帅埃里克-斯波尔斯特拉在谈到巴特勒时表示，自从加盟热火后，巴特勒每个赛季都在进步。

    　　2019年休赛期，巴特勒离开76人，加盟热火，首季他场均就得到19.9分6.7个篮板6次助攻1.8次抢断。在他带领下，热火成为黑马，竟一路闯入总决赛。
    
    　　随后的确如斯波所说，巴特勒持续进步。2020-21赛季，巴特勒场均得到21.5分6.9个篮板7.1次助攻2.1次抢断，成为联盟抢断王；本季迄今，巴特勒场均得到24.5分5.8个篮板5.3次助攻2次抢断。
    
    　　这3个赛季，巴特勒的总命中率也从45.5%升到49.7%，再到本季的52.5%。
    
    　　不过，2020-21赛季热火未能延续强势，在首轮就以0-4被雄鹿横扫。巴特勒在这4场场均仅得14.5分7.5个篮板7次助攻1.3次抢断，总命中率跌破30%。
    
    　　对此，斯波也为爱将辩护，称巴特勒在上赛季打出生涯最佳表现，但阵容因伤病而频繁变动，对球队造成了伤害。
    
    　　本季迄今，热火以12胜6负并列东区第二。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}