{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月15日，太阳队以115比89大胜休斯顿火箭，取得了八连胜。拿到这场胜利之后，他们稳居西部赛区第二名。

    　　数据统计显示，太阳队在本赛季保持着47.7%的投篮命中率，这一数据令人瞠目结舌。47.7%的投篮效率值，排在全联盟第一位。本场与火箭队的比赛中，全队投篮命中率43.2%。
    
    　　与此同时，太阳队取得的八连胜是目前本赛季所有30支球队中连胜场次最多的。
    
    　　上个赛季刚刚打入总决赛的太阳队，本赛季依然展现出极具统治力的表现。相比于卫冕冠军雄鹿，太阳队在目前表现出的斗志是希望再度重返总决赛。    
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}