{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    昨天蒙克一战成名，砍下了27分，是加盟湖人以来最高得分。他的表现，也得到了球队三巨头的肯定。

    　　蒙克命中率极高，与热火主要替补球员希罗抗衡。“他是个出色的球员，总是能投中关键球，”蒙克谈到希罗，“但我要杀死拦在我面前的每个人。”
    
    　　蒙克是戴维斯在肯塔基大学的师弟，所以一直很关注他。“他上场马上就能得分，”戴维斯说，“我们不知道是得到他的。他很能打，是个出色的球员。投中很多关键球，他会越来越有信心。”
    
    　　威斯布鲁克也认为，蒙克是个“微波炉”，“他上就的任务就是把球投进篮筐，而他做得很好，他进联盟以来就一直这样。”
    
    　　詹姆斯的看法跟威少一样。他告诉蒙克，一个叫维尼-约翰逊的球员，是最早的微波炉球员。而很少人知道这个球员。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}