{{extend ("../layout/default.html")}}{{#block ("body")}}<div>{{include ("../layout/keywords.html") }}</div><div id="news" class="news-page">北京时间12月23日，据美媒报道，洛杉矶湖人球星蒙克更新了社交媒体动态，并且写道：“Free me（放了我）！”

　　要知道，在最近的一段时间里，湖人饱受伤病和新冠病毒的洗礼，在球队内部，很多人都触发了健康安全协议。在缺兵少将的状态下，湖人队近期遭遇3连败，他们先后负于森林狼队，公牛队和独行侠队，战绩变成16胜16负，排名西部第7位。

　　此前，霍华德和塔克昨天解除隔离后，目前湖人队内有4人仍处于健康安全协议中，他们分别是蒙克，布拉德利，里夫斯和贝兹莫尔。

　　然而，蒙克的情况太特殊了。在12月15日，蒙克触发健康安全协议，已经连续缺席了4场比赛。而在12月17日当天，蒙克宣布自己已经通过了检测，解除健康安全协议。然而，如今蒙克又处于安全协议中，实在是太憋屈了。

　　本赛季以来，蒙克场均出场23.8分钟，能够得到9.7分2.8篮板2.2助攻，投篮命中率44.7%，三分球命中率36.1%，蒙克能够在关键时刻救火，他也是湖人队板凳席重要球员。</div>{{/block}}