{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月26日，在昨天森林狼以113-101战胜热火的比赛中，爱德华兹和吉米-巴特勒发生了冲突。赛后，据《Pro City Hoops》报道，爱德华兹谈到这次冲突时表示，巴特勒不该将球从他手中夺走，这是引发冲突的根源。

    　　昨天在第四节一次死球时，球在爱德华兹手中，巴特勒急忙跑上前来，一把将球从爱德华兹手中夺走。爱德华兹有些不满，推了巴特勒一把，后者随即贴上前来。其他球员见状不妙，立刻将二人分开，才避免了冲突升级。
    
    　　赛后，爱德华兹称这只是一次普通的冲突，不会发展到互殴的程度。他还解释称，他不喜欢别人将球从他手中直接夺走这一举动。“别搞得那么紧张，”爱德华兹说，“球当时应交给裁判，应由裁判来重启比赛。你把球从我手中夺走，也不会让比赛更快地重启。”
    
    　　因此，爱德华兹称，当巴特勒将球夺走后，他心里所想的就是：“拜托，伙计，别搞得那么紧张好吗？”他还称之所以推了巴特勒一把，只不过想让对方明白这点，没有其他的意思。
    
    　　昨天的比赛，爱德华兹27投13中，其中三分15中6，罚球1中1，得到33分14个篮板6次助攻3次抢断；巴特勒9投5中，罚球7中6，得到16分8个篮板5次助攻。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}