{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    勒布朗-詹姆斯在个人社交媒体转发了他儿子布朗尼的扣篮视频，引起不小轰动，德维恩-韦德、斯蒂芬-库里和克里斯-保罗等人都为他点赞。

　　布朗尼就读于塞拉峡谷高中，他表演了一次平筐暴扣，詹姆斯忍不住转发。

　　这次扣篮确实令人吃惊。库里点赞之后评价：“还能说什么？？？”

　　保罗没有语言评价，只发了瞪大眼睛的表情。

　　而韦德和和麦迪则发了赞叹声和“靠”一个字。

　　此外还有很多NBA球员，包括一些退役的，都给予高度评价，比如库兹马、杰夫-格林、肯德里克-帕金斯和阿里纳斯等人。

　　虽然这些人有一部分原因是冲着詹姆斯而去，但平心而论，这一个扣篮确实逆天。

　　毕竟布朗尼才17岁，还在读高中，这样的身体素质无与伦比。

　　明年他如果能被NBA选中，与老詹姆斯同场竞技，将会创下NBA历史。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}