{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，快船大将塞尔吉-伊巴卡在发展联盟打得挺爽的，还不急着归队。

    　　受到伤病影响，伊巴卡本赛季还没打一场NBA的比赛。
    
    　　在恢复过程中，他主动要求到发展联盟打球，这也深得主帅的赞许。
    
    　　伊巴卡已经可以回归，但他似乎回味无穷，还想在发展联盟打。“我想跟这些年轻人再打一场，然后再回来，”伊巴卡说，“如果我是TMD凯文-杜兰特，我可以歇两年再回。但如果只是塞尔吉-伊巴卡，你就得去干你必须干的活。没人会在乎你。从我到联盟的第一天起，一直如此。”
    
    　　伊巴卡在雷霆时跟杜兰特当过队友，说一句脏话，应该不会介意。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}