{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    活塞以112-104击败火箭。

    赛后，活塞球员凯德-坎宁安接受媒体采访，谈到了队友杰拉米-格兰特。
    
    “格兰特是一名我们可以依靠的队友，他总能让我们的工作变得更加容易。”坎宁安在采访中表示。
    
    “我们都很信任他，他总能为我们完成进攻。”
    
    “他不会用力过猛，也不会对任何人生气。他总是在你身边给予你支持，并随时最好准备，他对我们来说意义重大。”
    
    本场比赛，格兰特出场35分钟，得到35分5篮板3助攻。
    
    坎宁安出场30分钟，得到20分4篮板3助攻。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}