{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    昨天公牛战胜湖人，德罗赞的表现也让湖人上下悔不当初。在接受《雅虎体育》记者Chris Haynes采访时，德罗赞透露了更多他今年休赛期寻找下家时的细节，称他曾和詹姆斯接触过，他的经纪人已和马刺谈妥了交易事宜，但湖人仍选择了威少。

    　　昨天的比赛，德罗赞23投15中，其中三分5中2，罚球6中6，得到38分3个篮板6次助攻，率公牛以121-103客场大胜湖人。
    
    　　这样的德罗赞本该是湖人球员，他也在采访中坦言，本以为去湖人是板上钉钉了的。
    
    　　据德罗赞透露，他在今年休赛期和詹姆斯有过多次交谈。他的经纪人阿隆-古德温（Aaron Goodwin）也在幕后积极斡旋，和马刺高层敲定了交易的细节，确定会在一笔先签后换的交易中，将德罗赞这位在NBA摸爬滚打了13年的老将送回家乡球队湖人。
    
    　　当时德罗赞相信大家都已达成了一致，但湖人却在悄悄地探索另一条路，因为此时传出奇才在出售威少的消息。就这样，湖人和马刺的谈判逐渐冷却了下来。见此情形，古德温也只得劝德罗赞将目标转向别处：加盟公牛。
    
    　　据悉，关于哪名球员更适合球队，在湖人内部并没有过多的争论，但德罗赞在湖人内部的确没有多少关键的支持者。最终，威少被奇才送至湖人。
    
    　　对此，德罗赞还在昨天赛后表示：“我还以为去湖人是板上钉钉了的，我马上就要回家了。但生意方面双方却没有谈拢，很多事没能达成一致。而我的下一个选择就是公牛了，如今回看，我的选择没错。”
    
    　　德罗赞接着说：“但动力总是存在的：能回家，在亲人朋友面前比赛，和那些你从小看到大的球队交手。你总是能找到各种动力，让你将能量带到比赛中。我每场比赛都动力十足，但如果能回到家乡，那你肯定更想打好，这会让你表现出色。”
    　　本季迄今，德罗赞场均得到26.9分，联盟第三高，公牛以10胜4负位列东区第二；威少场均得到19.4分，总命中率42.7%，场均还有5.3次失误，湖人以8胜7负位列西区第7。
    
    　　这是否证明湖人选错人了？
    
    　　对此，德罗赞给出了否定的回答。他称威少是一位未来名人堂球员，很难对这个档次的球员说不。他称自己无法指摘湖人，湖人做出了自认为对球队最好的决定，他对此只有尊敬，毫无怨言，也没有仇恨。他称自己学到了一课：在交易达成前，谁也不能说交易已达成了。如今他在公牛待得很开心。
    
    　　在此前一场，德罗赞得到35分7个篮板5次助攻，率公牛以100-90战胜快船。在今年休赛期，快船也曾追求过德罗赞，德罗赞也曾安排和该队高层会面，但快船薪资空间不足，难以提供一份令他满意的合同。
    
    　　对此，德罗赞也确认：“快船薪资空间不足，本来确定了是要会面的，我和快船的接触，不像我和湖人接触那么深入。但洛城的2支球队都曾是我的热门下家。”
    
    　　对湖人而言，德罗赞曾近在咫尺，却又远在天边。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}