{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月24日，据美国媒体报道，在过去一段时间中，有关独行侠交易波尔津吉斯的传闻遍布整个联盟，近日独行侠老板马克-库班接受采访时否认了这一绯闻。

    　　上个赛季季后赛首轮不敌快船之后，有关波神被交易的消息就开始散播，甚至有消息称他和东契奇之间出现了问题。
    
    　　“这不是真的，为什么我要那样做呢（交易波神）？如果那么做交易，就像是把身后的未来全部毁掉了。当你交易一个巨星时，你发现到最后不会有什么好结局。”库班说道。
    
    　　波尔津吉斯在本赛季的状态有所恢复，特别是摆脱了伤病困扰之后，他本赛季场均出战29.5分钟贡献20.3分8.3个篮板2次助攻和1.5次封盖。在东契奇受伤阶段，波尔津吉斯帮助球队截至目前取得了9胜5负的战绩，暂列西部第五。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}