{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，勇士击败篮网，未能上场的克雷-汤普森非常高兴，在个人社交媒体发文。

    　　汤普森还未能复出，但已经取得了长足进步，开始5对5训练。在圣诞节之前，他有可能上场。
    
    　　面对东部强队篮网，在少了汤普森的情况下，勇士仍能轻松胜出。等汤普森回归后，更加令人期待。
    
    　　面对老队友凯文-杜兰特的篮网，汤普森丝毫不会同情，“勇士强力反弹！很高兴看到这一切”，汤普森写道，还加了一个爱心图标。
    
    　　上一场勇士败给黄蜂，但今天就强势反弹，保持联盟第一的战绩。
    
    　　两年前，杜兰特和汤普森先后受伤。杜兰特已经于上赛季复出，而汤普森连续两个赛季报销。本赛季到目前为止还不能上场。
    
    　　好在勇士表现抢眼，汤普森可以安心养伤。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}