{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月15日，“甜瓜”卡梅罗-安东尼先发出场，这是他加盟湖人以来首次。

    　　主帅沃格尔不久前还说，短期内不会让安东尼先发。没想到这么快就“食言”了。
    
    　　伤病形势严峻，是主帅改变主意的原因。肯巴-巴泽莫尔和德安德烈-乔丹这两个原来的首发今天都缺阵。
    
    　　问题是，两人并没有伤病，没有出场是“DNP”，显然沃格尔对原来的阵容有些失望。
    
    　　今天刚复出的霍顿-塔克也首发出场，再加上布拉德利、“浓眉哥”和威斯布鲁克。
    
    　　这是安东尼加盟湖人以来首次先发。从上赛季在开拓者时起，安东尼就已经习惯了替补，当时只有3次先发。
    
    　　詹姆斯近期可能复出，届时安东尼将重回替补。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}