{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月21日，据奇才跟队记者蔡司-休斯报道，奇才新星八村塁本赛季首次出现在媒体视野里。

    　　该记者晒出了一张八村塁在奇才训练场的照片，并表示这是八村塁本赛季首次被媒体拍到。
    
    　　奇才主帅小昂塞尔德透露：“八村塁今天早上完成了球队的部分投篮训练任务，这是非常棒的，他又向前迈了一步。目前仍然没有一个明确的复出时间表，但是这对他来说是个好兆头，这对我们来说也是个好兆头。”
    
    　　本赛季开始前，奇才宣布八村塁因个人原因无限期休战，他错过了球队训练营和季前赛，并一直缺阵到现在。
    
    　　八村塁无限期休战的具体原因至今没有被透露出来，不过据外媒猜测，八村塁因为一些事件出现了严重的心理问题，他曾清空自己的社交媒体。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}