{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    11月15日 公牛客场对阵快船。最终公牛以100-90击败快船。

    　　本场比赛中，德罗赞得到33分8篮板5助攻，拉文拿下29分7篮板2助攻，鲍尔斩获10分5篮板3助攻3抢断。快船方面，乔治贡献27分11篮板4助攻1抢断1盖帽，布雷德索得到21分6篮板3助攻，杰克逊得到13分3篮板2助攻2抢断1盖帽。
    
    　　首节开打，第6分28秒，拉文三分远投命中。第10分13秒，多孙穆出现传球失误，被巴图姆抢断。第11分21秒，德罗赞跳投命中。快船掉进失误陷阱，失误多达10次。首节战罢，公牛以13分的领先优势进入下一节。
    
    广告
    　　次节回来，第1分36秒，德罗赞手滑丢球，被曼抢断。第5分45秒，卡鲁索送精妙传球，鲍尔三分远投命中。第11分15秒，巴图姆在德罗赞投篮时犯规，送给公牛2次罚球机会。快船全队本节投出10粒三分球，命中率40%。半场结束，本节比分定格为54-45, 公牛暂时领先。
    
    　　下半场易边再战，第3分，祖巴茨手滑丢球，被鲍尔抢断。第8分51秒，拉文跳投得手。第10分55秒，德罗赞在布雷德索投篮时犯规，送给快船1次罚球机会。三节打完，本节比分定格为77-71, 公牛暂时领先。
    
    　　第四节，第5分16秒，格林跳投命中。第6分15秒，曼在德罗赞投篮时犯规，送给公牛1次罚球机会。第10分42秒，拉文出现传球失误，被杰克逊抢断。快船全队本节投出13粒三分球，但命中率仅为38.5%。比赛结束，公牛以100-90战胜快船，锁定胜局。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}