{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    湖人名宿“天勾”贾巴尔的儿子亚当被判6个月的监禁，原因是去年持刀伤人。

    　　在2020年，亚当跟邻居发生冲突，持刀砍伤对方多处，包括头部。
    
    　　邻居报警后，亚当被捕，但很快就获得保释。邻居进医院检查，虽然有多处受伤，但并没有致命。
    
    　　邻居将他告上法庭，指控亚当四项罪名，包括持致命武器伤人。
    
    　　上周开庭后，判定四项罪名成立，判亚当监禁180天。
    
    　　对于这样的结果，检察官并不满意，认为判得太轻了，司法不公正。
    
    　　亚当-贾巴尔当从1月起开始服刑。
    
    　　老贾巴尔近年来颇为活跃，号召大家注射疫苗。
    
    　　而在NBA时代，他是数一数二的超级巨星，他总得分至今仍居NBA榜首。
    
    　　退役后，他积极从事公益事业。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}