{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月21日，近日有消息称，独行侠将在北京时间明年1月6日的比赛中，为诺维茨基举行球衣退役仪式。据NBA官网记者Eddie Sefko报道称，独行侠主帅基德也对此发表了看法。

    　　在采访中谈及此事时，基德表示，这是一项特殊的荣耀，诺维茨基是一名从德国来到美国的年轻人，在最高水平的篮球联赛中获得了认可，且不仅在独行侠扬名立万，还入选了75大巨星。
    
    　　基德还称，到了退役球衣那一天，看到队史最佳球员的球衣升上球馆上空，对于独行侠老板库班、所有球员和独行侠球迷而言，都将是难以置信的一天。
    
    　　基德的NBA球员生涯始于独行侠。1994年，他被独行侠选为榜眼秀，曾是著名的“达拉斯3J”组合成员。1996年底，他被送至太阳。2008年2月，基德又被篮网送回独行侠。他在这里一直效力到2012年，期间曾在2011年携手诺维茨基，率独行侠夺得队史首冠。这也是基德生涯唯一总冠军。
    
    　　如今，基德又将以教练身份见证诺维茨基在独行侠退役球衣，不得不感慨二人的确有缘。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}