{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月21日，费城76人跟队记者Kyle Neubeck报道，球队在与活塞管理层就本-西蒙斯交易谈判并不乐观，主要原因是76人管理层对于对方的报价不感兴趣。

　　据悉，76人队对于活塞给出的杰里米-格兰特这样的报价筹码并不感兴趣，而且他们之前列出的钟意名单中，并没有格兰特的名字。Neuback补充道，如果活塞队愿意把凯德-康宁汉姆搭上作为额外的筹码，76人管理层才可以考虑去谈判。

　　显然对于76人来讲，如今他们的交易要价还是无法让其他球队接受。即使活塞队处于重建，但是让他们送走状元郎康宁汉姆的可能性微乎其微。而且目前本-西蒙斯已经多日未参加球队集训，包括本赛季还没有出战任何一场比赛，究竟状态如何其他球队也都存在疑惑。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}