{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月23日，在本季开打前，沃尔和火箭达成了协议，他不会在新赛季为火箭出战，直至被送到新球队。但这也遭到了不少人的质疑。《体育画报》名记Chris Mannix就吐槽称，火箭让沃尔随队又不让他出场，不知这么做对双方有何好处？

    广告
    　　近日，Mannix连续更新社媒，表达了对火箭处理沃尔方式的不满。他称如今沃尔的处境相当诡异。火箭让他随队，并让他身穿训练服坐在场边观战，就是不让他出场。他不知道这么做对火箭和沃尔双方有何好处？
    
    　　2020-21赛季，沃尔终于自2018年底后首次重返赛场。他为火箭出战40场，皆为先发，场均出战32.2分钟，得到20.6分3.2个篮板6.9次助攻1.1次抢断，总命中率40.4%，三分命中率31.7%。在哈登被交易后，沃尔一度率火箭打出一波6连胜。但随后，恐怖的20连败接踵而至，沃尔也从4月下旬就开始休战。
    
    　　2017年休赛期，沃尔签下4年1.7亿肥约，这份合同在2023年到期，下赛季是4737万美元的球员选项。沃尔不在火箭未来计划里，于是双方协商分手。
    
    　　对此，Mannix也表示，沃尔的确没法让火箭重现昔日荣光，但如果能有这样一位经验丰富的老将来依靠，对年轻球员而言还是有利的。他吐槽称，如今的火箭太年轻了，球员看上去都像只有19岁。
    
    　　本季迄今，火箭仅取得1胜16负，在联盟垫底，近期更遭遇15连败。不过，火箭和沃尔已达成了协议，沃尔本季为火箭出战的可能性微乎其微。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}