{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月20日，在NBA历史上，热火三巨头是不可能被忽视的。近日，韦德做客《LIVE With Kelly and Ryan》节目，称任何时候讲述NBA的故事，都不可能跳过热火三巨头。

    　　在节目中，韦德表示，NBA历史上曾涌现过许多三巨头，但热火三巨头改变了比赛，而这也是NBA永远都无法绕过的故事。“要讲述NBA的故事，你就不可能跳过波什、詹姆斯和韦德，”韦德说。
    
    　　2010年，詹姆斯和波什南下来到迈阿密，携手韦德，热火三巨头震撼联盟。随后，三人携手率热火连续4年打入总决赛，并在2012和2013年蝉联总冠军。
    
    　　2014年，热火三巨头追逐三连冠失利，詹姆斯重返克利夫兰，热火三巨头宣布解散。从取得的成就和历史影响来看，热火三巨头的确是无法被绕过去的。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}