{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月19日，“字母哥”安特托昆博在赛场上亦步亦趋，走着跟勒布朗-詹姆斯相似的道路，而在场外，也积极以詹姆斯为榜样，开始兴办学校。

    　　安特托昆博与赞助商合作，开办了一所名为“安特托昆博兄弟”的专科学校。
    
    　　“字母哥”非常自豪，亲自发布视频介绍，“我这骄傲，与各位分享这个工程，这对我意义重大，”安特托昆博说，“这学校不只是篮球，来到这里，将让很多像我一样的小孩激发潜力。”
    
    　　学校的基地在希腊。在官方网站的介绍中说，开办学校的目的是让社会各阶层缺乏机会的小孩受到教育，用体育来改变生活。
    
    　　詹姆斯此前也开办一所名为“我承诺”的学校。
    
    　　两人小时候生活条件都不好，现在取得了成功，想回馈社会。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}