{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，萨克拉门托国王队客场以97比107不敌明尼苏达森林狼，本场比赛特里斯坦-汤普森替补出场17分钟，得到8分外加9个篮板。

    　　赛后汤普森在接受采访时，显得情绪非常不满，他直言自己不需要任何鼓励，甚至把矛头指向了主教练。
    
    　　“我XX不需要任何来自教练对我的鼓励，从来不需要，从来也没有得到过，以后也不会有的。如果有一天我需要教练来鼓励我的话，那就是我XX该退役的时候了。”汤普森说道。
    
    　　输掉本场比赛之后，国王队本赛季开局为6胜9负，排名来到了西部第11位。之前有报道称，如果国王队的排名再继续下落，主教练卢克-沃顿就有下课的可能。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}