{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，湖人在客场以102-109不敌雄鹿。

    　　雄鹿结束二连败。“字母哥”安特托昆博拿下了赛季最高的47分，鲍里斯-波蒂斯17分，克里斯-米德尔顿复出，得了16分、6次助攻和5个篮板。
    
    　　替补出场的帕特-康诺顿16分。
    
    　　湖人功亏一篑。霍顿-塔克得了25分12个篮板，拉塞尔-威斯布鲁克19分15次助攻，安东尼-戴维斯18分9个篮板，卡梅罗-安东尼10分6个篮板。
    
    　　上半场“字母哥”就拿下了28分，雄鹿以64-53领先。
    
    　　米德尔顿上半场未能投篮命中，但下半场有所好转。尽管如此，湖人大举反击，几度缩小差距。
    
    　　最后一节着关键时刻，连续判罚对湖人不利，他们错失继续追分良机。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}