{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月21日，尼克斯队在主场以106比99逆转火箭，送给对手十四连败。不过赛后尼克斯跟队记者爆料，球队内部一些大牌球员，对于球队近些场比赛的进攻非常不满意。

    　　美国篮球记者伊兰-贝格力在报道中提到：“一些顶级球星在私下交谈时，表达了对进攻端情况的一些沮丧情绪。”
    
    　　本场比赛是尼克斯队连续第七场单场得分未过110分，是锡伯杜担任球队主帅以来第一次发生。
    
    　　而且在今天与火箭队的比赛中，尼克斯队首节进攻极为糟糕，第一节他们只得到了13分。整个首发球员中，得分最多的是富尼耶，首发五人没有一人得分上20。球队首发控卫肯巴-沃克只得到了9分，最后时刻被伯克斯和奎克利顶替了位置。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}