{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月23日，NBA名宿凯文-加内特近日做客一档节目时，列出了包括自己的心目中NBA历史最强首发五虎。

    　　加内特给出的答案是：魔术师、科比、杜兰特、自己、张伯伦。
    
    　　加内特在选择过程中说道：“控卫我会选魔术师，他有6尺9寸高，可以看见所有人。分卫我不选乔丹，我会选科比。我知道你会说乔丹，我知道他是篮球之神，我们都是模仿他的之类的，但我就是要选科比。”
    
    　　“我真的很想选艾弗森，但我们在谈论的是一支球队，所以我们每个人都必须要有换防的能力。小前锋我会选杜兰特、中锋我选张伯伦，而我自己会出任四号位。”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}