{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，奇才传来一个好消息，布拉德利-比尔已经离开伤病名单，明天对黄蜂的比赛他将会出战。

    　　比尔并没受伤，但此前去参加祖母的葬礼，因此缺阵两场。
    
    　　奇才主帅韦斯-昂塞尔德透露，比尔明天比赛可以出战。
    
    　　在比尔缺阵期间，奇才都取得了胜利，分别击败魔术和鹈鹕。奇才五连胜，保持东部第一的战绩。
    
    　　少了比尔，奇才打得不顺利，昨天对鹈鹕，都拼到了最后时刻，最终完成逆转。
    
    　　作为奇才唯一的巨星，比尔是球队的中流砥柱，他的回归，将使奇才更加强大。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}