{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    新浪体育11月20日讯 鹈鹕坐阵主场迎战快船。最终鹈鹕以94-81击败快船。

    　　本场比赛中，瓦兰丘纳斯得到26分13篮板2助攻1抢断，哈特砍下19分10篮板4助攻2抢断，英格拉姆贡献17分12篮板5助攻。快船方面，乔治斩获19分7篮板6助攻1抢断，巴图姆入账12分3篮板1抢断，哈尔滕施泰因砍下11分6篮板2助攻2抢断3盖帽。
    
    　　比赛回顾
    
    　　首节开打，第4分24秒，乔治跳投命中。第5分17秒，琼斯手滑丢球，被布雷德索抢断。第8分16秒，英格拉姆在哈尔滕施泰因投篮时犯规，送给快船1次罚球机会。鹈鹕掉进失误陷阱，失误多达6次。首节战罢，本节比分定格为29-16, 快船暂时领先。

    　　次节回来，第6分48秒，刘易斯跳投命中。第9分16秒，乔治三分远投命中。第11分2秒，祖巴茨在海耶斯投篮时犯规，送给鹈鹕2次罚球机会。快船打出流畅配合，此节全队共完成9次助攻，其中祖巴茨一人就为队友送出3次传球。快船全队本节投出11粒三分球，但命中率仅为36.4%。半场结束，快船以12分的领先优势进入下一节。
    
    　　易地再战，第2分8秒，乔治跳投得手。第3分3秒，接到哈特的传球，英格拉姆三分远投得手。第8分50秒，哈尔滕施泰因出现传球失误，被刘易斯抢断。鹈鹕加强防守，此节全队共完成5次抢断。快船全队本节投出10粒三分球，但命中率仅为20%。三节打完，鹈鹕将比分反超至72-69。
    
    　　第四节，第2分23秒，布雷德索送精妙传球，科菲三分远投命中。第9分12秒，祖巴茨在英格拉姆投篮时犯规，送给鹈鹕2次罚球机会。第10分47秒，英格拉姆手滑丢球，被哈尔滕施泰因抢断。快船全队本节投出11粒三分球，但命中率仅为18.2%。比赛结束，鹈鹕以94-81战胜快船，取得本场比赛胜利。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}