{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月18日，奇才今天不敌黄蜂，这是他们本赛季第4场失利。凯尔-库兹马和卡德维尔-波普发挥失常，是他们失利的重要原因。

    　　此前奇才过关斩将，高居东部榜首。湖人三名旧将的发挥是关键。而今天只有哈雷尔一人表现正常。
    
    　　库兹马手感冰冷，全场12投2中，三分球8投仅1中，只得了5分、5个篮板和3次助攻。
    
    　　另一个首发的波普外线5投0中，全场6投1中。他只得3分6个篮板。
    
    　　湖人三名旧将中，表现正常的是替补出场的哈雷尔。他打了22分钟，9投6中，得了15分9个篮板。
    
    　　奇才在第三节大失水准，单节只得14分，一举被拉开差距。
    
    　　比尔今天复出，得了24分7次助攻。但在队友不给力的情况下，他的复出只得到一场败仗。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}