{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月22日，据著名NBA记者沙姆斯-查拉尼亚和安东尼-斯莱特共同报道，勇士球星克莱-汤普森已获准参加完整训练，有望在圣诞节前迎来复出。

    　　过去一周，克莱开始参加5V5的训练，并且表现良好，因此获准参加勇士接下来的完整训练，有可能在圣诞节前复出。
    
    　　据悉，赛季进行期间的球队训练通常不会太激烈，特别是老将更多地会选择休息或者看比赛录像，因此克莱接下来的训练内容也不会过于繁重，但他能够参加全部训练依然意味着他的恢复取得了极大的进展。
    
    　　距离他上一次出现在NBA赛场上，已经过去了892天。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}