{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月19日，圣安东尼奥马刺队客场以90比115不敌明尼苏达森林狼，本场比赛输掉之后，马刺队已经遭遇到了四连败，他们的开局也陷入了极为被动的困境中。

    　　目前马刺队的战绩为4胜11负，这是继1996-97赛季之后马刺开局15场比赛遭遇的最差战绩。
    
    　　回顾到1996-97赛季，马刺队当时取得了2胜13负的最烂开局之后，球队战绩来到3胜15负时，管理层做了更换主教练的决定。当时的马刺队主教练鲍勃-希尔被如今的主帅格雷格-波波维奇代替，时隔25年之后，马刺队又一次遇到了窘境。
    
    　　四天之后马刺队将回到自己的主场，迎战目前排在西部第二的菲尼克斯太阳。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}