{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    威斯布鲁克能打三双，数据非常耀眼，但也能失误。前12场比赛，他的失误创下了湖人队的纪录，众多前辈在他面前只能叹为观止。

    　　12场比赛，威斯布鲁克共失误了64次，这是湖人历史纪录。自1983-84赛季开始统计失误以来，从没湖人球员能做到这一点。
    
    　　有趣的是，此前湖人的纪录住持者是史上最出色的控卫“魔术师”约翰逊。他在1988-89赛季的前12场比赛，共失误了62次。
    
    　　科比-布莱恩特的失误也可观，前12场比赛，他的失误排在第9位。
    
    　　才来湖人没多久，就能跟前辈巨星相提并论，不过这个数据，似乎不是威少想看到的。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}