{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    勇士输球，7连胜止步，“追梦”格林觉得有些遗憾，后悔关键的跳球没有赢得球权。

    　　格林今天表现倒是不错，7投5中，得11分、6个篮板和6次助攻。
    
    　　最后时刻，他有机会为勇士扭转局势，可惜未能把握。
    
    　　他们与黄蜂的争夺非常激烈，最后28秒，勇士有两次机会。
    
    　　第一次是卢尼走上罚球线，只要两罚命中，就能追平，可惜两罚不中。
    
    　　第二次是终场前15.3秒。勇士用严密的防守逼得跳球机会。
    
    　　由德雷蒙德-格林面对黄蜂的罗齐尔。格林身高有绝对优势，但却没跳到球，勇士失去最后的机会。
    
    　　格林透露，当时他还在跟裁判古瑟列说话，但裁判突然将球抛起。格林猝不及防，结果没跳到球。
    
    　　“我应该跳到那个球，无论是什么情况下，”格林说，“这不是他的错，怪我。”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}