{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，爵士球星多诺万-米切尔将韦德视为导师，这已不是秘密，因此有人认为让韦德成为球队小老板，是爵士为了安抚米切尔而走的一步棋。但在做客《Stadium》节目，接受《The Athletic》名记Shams Charania采访时，韦德却称他不愿承担劝米切尔留队的压力。

    　　在采访中，韦德坦言要想劝米切尔一直留在爵士，压力是很大的，而他并不愿承担这份压力。他自称他无法一直让米切尔开心，真正能让米切尔开心的是爵士为他配备的阵容，以及对他达成目标能提供何种帮助，而这些都依赖于交流。
    
    　　在2020年休赛期，爵士和米切尔达成了5年1.63亿的续约协议，该合同在2021-22赛季开始生效，到2025-26赛季终止，最后一年为球员选项。本季迄今，米切尔场均可得25.6分4.4个篮板5.1次助攻1.9次抢断，总命中率43.8%，三分命中率32%。
    
    　　即便续约了，也不能保证米切尔一直留在爵士，尤其是如果爵士连续冲冠失利的话。因此，才有了今年4月韦德成为爵士小老板这档子事。但在韦德看来，真正能留住米切尔的只有强大的阵容和夺冠前景。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}