{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月16日，NBA官方公布了第四周的东西部周最佳球员。布鲁克林篮网前锋凯文-杜兰特当选东部周最佳球员，而西部的周最佳则是属于史蒂芬-库里。不过，美媒却列出多项数据表明杜兰特再本赛季的表现更加爆炸。

    　　在上周，杜兰特4场比赛有3场得分30+，投篮命中率62.9%，三分命中率52.6%，罚球命中率91.2%。
    
    　　事实上，杜兰特本赛季还在冲击一项历史第一神迹。那就是，他有机会成为NBA历史上第一个投篮命中率在58%以上，场均得分超过29.5分的球员。
    
    　　值得一提的是，杜兰特在上周帮助篮网取得3胜1负的战绩，他场均贡献32.3分7.8篮板4.5助攻，投篮命中率62.9%，三分命中率52.6%，罚球命中率91.2%，同时，篮网在6连客之旅中，5胜1负的战绩令人十分满意。
    
    　　而在上周，库里则是帮助勇士取得3胜1负的战绩，他场均贡献34.8分5.5篮板7.8助攻2.3抢断，场均命中6记三分，投篮命中率48.9%，三分命中率41.4%，罚球命中率93.1%。库里是上周场均得分最高以及场均命中三分最多的球员。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}