{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    11月23日讯 步行者客场对阵公牛。最终步行者以109-77击败公牛。

    　　本场比赛中，萨博尼斯斩获21分11篮板4助攻1抢断，布罗格登贡献16分4篮板7助攻1抢断2盖帽，霍乐迪贡献14分4篮板2助攻1抢断。公牛方面，德罗赞贡献18分1篮板2助攻，拉文贡献17分2篮板3助攻，琼斯得到8分5篮板1抢断。
    
    　　开场后，第1分54秒，拉文出现传球失误，被布罗格登抢断。第3分45秒，接到萨博尼斯的传球，特纳三分远投得手。第9分12秒，多孙穆在杜阿尔特投篮时犯规，送给步行者2次罚球机会。步行者全队本节投出10粒三分球，命中率40%。首节战罢，步行者以15分的领先优势进入下一节。

    　　次节回来，第3分56秒，接到马丁的传球，霍乐迪三分远投得手。第8分21秒，鲍尔送精妙传球，拉文跳投命中。第9分16秒，德罗赞出现传球失误，被马丁抢断。步行者打出流畅配合，此节全队共完成9次助攻，其中麦康纳 一人就为队友送出2次传球。步行者多次冲击篮筐，获得10次罚球机会，罚中9球，罚球命中率达到90%。公牛此节手感颇佳，全队投篮命中率达到61.9%，与步行者的52.2%相比更胜一筹，其中拉文仅此节得到12分。半场结束，步行者以21分的领先优势进入下一节。
    
    　　易地再战，第3分15秒，布罗格登送精妙传球，霍乐迪三分远投命中。第5分32秒，萨博尼斯在琼斯投篮时犯规，送给公牛2次罚球机会。第11分57秒，德罗赞跳投命中。步行者在防守端筑起铜墙铁壁，次节送5记盖帽，将对手的投篮命中率压制到23.8%。三节打完，步行者以89-61领先。
    
    　　第四节，第5分7秒，在兰姆的助攻下，萨博尼斯霸气扣篮砍下2分。第10分，比塔泽手滑丢球，被托马斯抢断。第11分30秒，接到多孙穆的传球，布朗三分远投得手。公牛全队本节投出11粒三分球，但命中率仅为18.2%。比赛结束，步行者以109-77战胜公牛，取得本场比赛胜利。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}