{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月24日，湖人在客场翻盘未果，以100-106败给了尼克斯。

    　　湖人最多时落后了25分，但在第三节一度扳平，可惜未能反超，全场未曾领先。
    
    　　勒布朗-詹姆斯被禁赛，拉塞尔-威斯布鲁克打出三双，贡献31分、13个篮板和10次助攻，“浓眉哥”戴维斯带病出战，得了20分6个篮板，艾弗里-布拉德利15分9个篮板。
    
    　　替补出场的马里克-蒙克12分，全部是上半场所得。卡梅罗-安东尼重回故地，得12分。
    
    　　尼克斯惊险过关。埃文-福尼尔26分，朱利叶斯-兰德尔20分、16个篮板和5次助攻，RJ-巴雷特12分7个篮板。
    
    　　德里克-罗斯缺阵，替补出场的奎克利14分，托平和博克斯各得12分。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}