{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，尽管2021-22赛季刚开打不久，但已有人看衰湖人。近日，美名嘴Stephen A。 Smith做客《First Take》节目，称他认为詹姆斯已拿到了生涯最后一冠，他的时代结束了，湖人进不了总决赛。

    　　在节目中，Smith直截了当地表示，2020年总冠军将是詹姆斯生涯获得的最后一座总冠军，“他的时代已经结束了。”
    　　但Smith接着表示，这并非詹姆斯的错，詹姆斯就是詹姆斯，他仍将归来，去做任何想做的事。但当他看过由威少率领的湖人时，就断定湖人是进不了总决赛的。他看好勇士会成为本季的西区冠军，闯入总决赛。
    
    　　本季詹姆斯出战6场，场均得到24.8分5.5个篮板7次助攻2.3次抢断，总命中率46.7%，三分命中率34.7%。但他打打停停，目前已经因伤连续缺席了7场。而本季开打前曾被认为是夺冠热门的湖人，目前仅以8胜7负位列西区第7位。本季湖人防守效率联盟第14位，进攻效率更是只排第24位。
    
    　　今年年底，詹姆斯就将年满37周岁。或许，他的时代真的要落幕了。   
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}