{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月26日，勇士开季高歌猛进，库里的表现也非常出色，但对于主帅科尔的决定，库里也并非完全同意。近日，据《The Dub Nation》记者Joe Viray报道，对于勇士对自己的轮换和出场时间的安排，他并非100%满意。

    　　据悉，库里希望能出场更多时间，但往往在单节打到一半的时候他就会被换下，而其实当时他刚觉得自己找回了节奏。无疑，对于科尔的轮换次序，库里是持不同意见的。
    
    　　当然，这也不是库里首次对自己的出场时间表示不满。在2021-22赛季初，库里就曾表示，他并不满意自己总在比赛关键的衔接段被换下。
    
    　　本季迄今，库里场均出战33.9分钟，少于上赛季（34.2分钟），位列生涯第6位。
    
    　　其实早在上赛季，就有人质疑科尔对库里的出场时间限制得太死。但也有人认为，科尔这是在保护库里，正因为科尔如此谨慎地使用他，如今已满33周岁的库里才仍能打出MVP级的表现，勇士本季也才能一骑绝尘。
    
    　　赛季还漫长，过去2季勇士受伤病摧残战绩滑坡还历历在目，科尔估计仍会谨慎使用库里。哪怕外界批评声再大，哪怕库里本人对此有再多的不满，他也不会动摇。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}