{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    勇士10胜1负，居联盟榜首，库里的领袖能力扮演了重要角色。主帅科尔对此深有感触。

    　　“我觉得斯蒂芬是我们球队开心的催化剂，非常有感染力，”科尔说，“当你的领袖是联盟最好的球员，也是史上最好球员之一，而他会为每个队友欢呼。这是一种非常强大的能力，感染了整支球队。”
    
    　　勇士是全联盟最欢乐的球队之一，无论场上还是场下。库里也带动了队友，在替补席上，球员们总是兴高采烈地助威。
    
    　　这都是库里领导有方，当他投中三分时，在场上庆祝，跟球迷互动，队友也有样学样。
    
    　　科尔认为，这是一种潜力在战斗力。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}