{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    凯文-杜兰特当年离开勇士，很大部分原因是跟格林闹僵。这一幕又出现了，上一场比赛中，格林在场边怒喷普尔。

    　　上一场打森林狼，一次暂停时，格林对着普尔一通骂，普尔似乎有点委屈，不敢反抗，但嘴上也解释着什么。
    
    　　双方有吵起来的势头，队友赶紧过来劝架，库里在身后拉着格林。
    
    　　当时，似乎是普尔说了一些让格林不开心的话，导致格林爆发。普尔想远离格林，但还是被他逮着骂。
    
    　　当年杜兰特离开前，也曾跟格林有过类似的争吵。不过杜兰特显然更大牌，他不吃格林这一套。
    
    　　普尔毕竟是年轻球员，资历尚浅，还不敢跟格林叫板。
    
    　　队中出现这种事，如果不解决，会留下隐患。勇士队一向以团结著称。
    
    　　主帅科尔回应了些事，“一个赛季有82场比赛，非常漫长，总会发生一些这样的事，”他说，”我们已经把它抛在身后了。“
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}