{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月17日，斯蒂芬-库里今天总得分超过“微笑刺客”伊塞亚-托马斯，并没有引起太大的关注，但托马斯本人却作出回应。

    　　在今天击败篮网的比赛中，库里砍下了37分。他的职业生涯总得分达到18836分，超过第65位的托马斯的18822分。
    
    　　库里还超过了第64位的奇特-沃克，目前库里排名NBA历史第64位。
    
    　　这样的超越算不了什么，但托马斯本人却意识到了，他在个人社交媒体向库里表示祝贺。
    
    　　“祝贺库里总得分超过我，希望你继续努力”，托马斯写道。
    
    　　这个赛季，库里的得分会不断超越。接下来一场，他如果砍下45分，还能超过杰森-特里。
    
    　　库里与斯科蒂-皮篷的距离也很近。估计4场左右就可以超过。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}