{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    湖人主场120-117击败热火。赛后，湖人球员安东尼-戴维斯接受了媒体采访。

    谈到队友马利克-蒙克的表现，戴维斯说：“勒布朗（詹姆斯）之前曾经说过，我也说过，我们称他为微波炉，迅速手感火热，我们还是不知道我们是怎么得到他的，他会打球。”
    
    谈到队友拉塞尔-威斯布鲁克关键时刻的跳投表现，戴维斯说：“他今天打得很棒，他无所畏惧，他可能连续投丢20球，然后命中下一个。”
    
    本场比赛，戴维斯23投10中，得到24分13篮板4助攻。威斯布鲁克22投10中，得到25分12篮板14助攻。蒙克13投10中，得到27分6篮板3助攻。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}