{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    勇士在比赛中123-110击败森林狼。赛后，勇士后卫斯蒂芬-库里接受了采访。

    谈到凯文-卢尼，库里说：“面对KAT（卡尔-安东尼-唐斯）这样超有天赋的人，卢尼可以跟他对位，这很棒。他让我们有额外的进攻回合。KAT大部分时间都在外线，而卢尼也要跟防出去，这么看他拿到17个篮板更令人印象深刻。”
    
    谈到球队运动能力，库里说：“当他和第二阵容上场时，他在那方面的表现有些不太真实。我不知道他是怎么做到的，他和我一样高。威金斯也很出色。克莱（汤普森）不属于运动能力出众的球员范畴，他可能会疯掉。”
    
    本场比赛，库里首发上场34分钟，16中8，贡献25分5篮板6助攻1抢断。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}