{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月24日，2021届是公认的选秀大年，而如今2021-22赛季开打了一段时间，有不少新秀展现出潜力。近日，杜兰特做客贾马尔-克劳福德和昆廷-理查德森主持的播客节目《NBA Hooper Vision》，就称他喜欢步行者第13顺位新秀杜阿尔特。

    　　在节目中谈到2021届新秀时，杜兰特也打开了话匣子。他称今年新秀中有不少他都很喜欢，并特别提到了猛龙的斯科蒂-巴恩斯和步行者的杜阿尔特。
    
    　　今年10月30日，篮网在主场以105-98战胜步行者。杜兰特该场10投7中，其中三分3中1，罚球8中7，得到22分11个篮板7次助攻；杜阿尔特19投9中，其中三分4中1，得到19分4个篮板。
    
    　　杜阿尔特该场的表现给杜兰特留下了深刻印象。他称在杜阿尔特身上，他貌似看到了一名非常老派的二号位。他称杜阿尔特接球出手速度快，还能持球在中距离出手，身形也不错。“我喜欢这个年轻人，”杜兰特说。
    
    　　本季迄今，来自俄勒冈大学的杜阿尔特场均得到13.1分4.3个篮板2.1次助攻，总命中率42.5%，三分命中率38.8%。
    
    　　听到杜兰特的话，球迷也打趣称：“身高1米98，得分后卫，第13顺位，这让人想到了谁还用说吗？”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}