{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月16日，今天湖人将在主场对阵公牛，朗佐-鲍尔也将重返斯台普斯球馆。据《NBC体育》记者K.C。 Johnson报道，再次谈到2年前被湖人交易，鲍尔表示，他并未因此而生气，毕竟当时湖人拿他换的是安东尼-戴维斯，他不觉得有什么丢人的。

    　　2019年休赛期，湖人送出鲍尔、英格拉姆和哈特等，从鹈鹕换来戴维斯。在鹈鹕效力2个赛季后，今年休赛期鲍尔又在先签后换的交易中加盟公牛，并签下4年8500万新合同。
    
    　　本场将是鲍尔本季唯一一次重返斯台普斯球馆的机会，借此，鲍尔也重新谈起了2年前的那笔交易。他称这对他来说的确有些不同，他明白这不过是生意，不过这也是他首次感受到自己不被某些人所需要。“但我交换的是安东尼-戴维斯啊，因此这没什么丢人的。毕竟他是历史最佳球员之一，”鲍尔说。
    
    　　鲍尔接着说：“因此对于我、BI（指英格拉姆）和哈特而言，我们都很开心能来到一个新的环境，从头开始。我认为这对我的生涯是有帮助的。从长远来看，这让我成为了更好的人和更出色的球员。”
    
    　　“我认为每件事发生都是有原因的，如今我正身处自己想去的地方，”鲍尔说，“我一直想去一个我自认为合适的地方，一个需要我且我不用做出改变的地方。芝加哥就是我的最佳去处。”
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}