{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月12日，据美国媒体报道，锡安-威廉姆森因为右脚伤病已经连续缺席球队数周比赛，本赛季他至今还未有过登场。近日有关他的伤病情况，美国篮球记者文霍斯特做了解读。

　　布莱恩-文霍斯特近日做客一档节目时，谈到了锡安的伤情，他认为锡安还需要继续休息数周，才能够回归球场。

　　而另外一名篮球记者Shams Charania则是在节目中表示，鹈鹕队一而再再而三推迟锡安的回归时间，其实并不是一个积极的信号。从最初缺席揭幕战到休战一个月到数周，他认为锡安并没有接近复出。

　　此前有媒体拍到了锡安的体型，发现他的身材比上个赛季宽了很多，体重已经超过了300磅。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}