{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月12日，据美国媒体报道，本-西蒙斯本赛季还未代表76人出战任何比赛，双方的关系虽然相比之前有所缓和，但依然未能从根本上解决问题。如今西蒙斯和他的经纪团队又出来，公开表达了他们的想法。

    　　美国篮球记者Shams爆料，西蒙斯个人认为近期的一些动作表明，76人试图强迫他上场比赛。
    
    　　西蒙斯的经纪人里奇-保罗，在接受采访时透露：“不论西蒙斯给球队心理咨询师的回应是什么，76人都想强制认定西蒙斯的心理问题已经解决，并用这种方式强迫西蒙斯出场比赛。”
    
    　　西蒙斯休赛期没有被交易，但是他一直以自己没有做好心理准备为理由拒绝为76人出战。如今76人队寻找心理医生与其会面，导致双方再次产生了意见分歧。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}