{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间12月6日，据美媒报道，北京首钢球员林书豪在直播中谈到了自己更加看好哪支球队能够赢得本赛季的总冠军。

    　　林书豪说：“我真的不是在开开玩笑，我没看一场（NBA），现在刚开始，当然大家都觉得勇士队打得非常好，然后湖人队打得非常差，但你不能小看勒布朗-詹姆斯，而我们也不知道篮网队与凯里-欧文能不能解决上场的问题。”
    
    　　“我还是觉得到最后，会是勇士队和篮网队（争冠）。如果凯里到最后可以打，我觉得篮网队会赢，可是如果他不打，我觉得勇士队会赢。”
    
    　　值得一提的是，本赛季以来，勇士19胜4负排名西部第一，而篮网则是16胜7负暂列东部第一，湖人以12胜12负暂列西部第八。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}