{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div>{{include ("../layout/keywords.html") }}</div>
<div id="news" class="news-page">
    北京时间11月12日，NBA官方公布了昨日湖人加时战胜热火的常规赛最后两分钟以及加时赛的裁判报告。报告显示，共出现五次误判，其中三次不利于湖人，两次不利于热火。

    　　第四节比赛最后1分40秒，裁判漏吹蒙克对洛瑞投篮犯规。
    
    　　第四节比赛最后1分03秒，裁判误吹阿德巴约进攻犯规，报告给出的理由是浓眉反应与对抗等级不一致。
    
    　　第四节比赛最后0.3秒，裁判漏吹阿德巴约对浓眉补篮的投篮犯规，如果这球裁判吹了犯规，浓眉将可通过罚球绝杀比赛。
    
    　　加时赛最后58秒，裁判漏吹塔克对威少防守犯规；
    
    　　加时赛最后50.9秒，裁判误吹布拉德利对邓肯-罗宾逊三分犯规，当时邓罗投篮动作已经完成。
  
    　　最终，湖人通过加时120-117险胜热火。
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}