{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="injury" class="injury-nba-page">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">NBA伤病名单实时更新、篮彩盘口投注率更新、篮彩经验学习</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li><a href="/injurynba.html">NBA</a></li>
            <li class="vote-ratio"><a href="/vote.html">盘口投注率</a></li>
            <li class="lancai"><a href="/lancai.html">篮彩经验学习</a></li>
            <li class="vote-ratio"><a href="#">盘口红黑榜</a><span class="selected"></span></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="updatetime">红黑榜更新时间：<strong>2022-10-18[周二]08:22</strong>（每周持续更新，敬请关注）</div>
    <table class="list" border="0" cellspacing="1" cellpadding="0">
        <tr>  
            <th colspan="5" class="rank-team-up"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-up.png" /><span class="th-title">近期让分盘红榜（老黑推荐）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/pelicans.jpeg" /></td>
            <th class="name" colspan="4">第一名：新奥尔良鹈鹕</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">这支球队跟去年的灰熊非常类似，板凳很有深度，只要不出大的伤病问题，我看好鹈鹕有望成为本赛季的新盘王球队。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/knicks.jpeg" /></td>
            <th class="name" colspan="4">第二名：纽约尼克斯</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">尼克斯休赛期签下的布伦森，有效解决了上赛季阵地战缺少突破手进攻乏力的问题，尼克斯只要在进攻端能持续输出，再加上他们一直以来相对稳定的防守，新赛季还是能有一番作为的。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/rockets.jpeg" /></td>
            <th class="name" colspan="4">第三名：休斯顿火箭</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">杰伦.格林休赛期苦练进步明显，小波特也有一定进步，再加上火箭的其它角色球员，包括新秀伊森、史密斯、小马丁、申京等，都是一批非常有活力充满能量的年轻球员，或许新赛季他们的战绩依旧不尽如人意，但在赢盘率上说不定会有一个较大幅度的提升。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/kings.jpeg" /></td>
            <th class="name" colspan="4">第四名：萨克拉门托国王</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">今年国王主教练迎来迈克.布朗，且休赛期也签下了赫尔特具备上佳投射能力的双能卫，正好和福克斯形成一个互补的后场组合，再加上他们的板凳深度，国王还是有时隔十六年后冲击季后赛的资本的，至少附加赛应该得去拼一拼。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/cavaliers.jpeg" /></td>
            <th class="name" colspan="4">第五名：克利夫兰骑士</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">骑士在上赛季就显示出了这支青年军的潜力，今夏迎来了米切尔后，更是如虎添翼；随着加兰和莫布利这对骑士内外双核的持续进步，他们在攻守两端都还有较大提升的空间，目前需要注意的是米切尔是否能尽快融入到这支球队之中，所以需要再观察一下看。</td>
        </tr> 
        <tr class="empty"><td colspan="5"></td></tr>  

        <tr>  
            <th colspan="5" class="rank-team-down"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-down.png" /><span class="th-title">近期让分盘黑榜（老黑看衰）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/blazers.jpeg" /></td>
            <th class="name-low" colspan="4">第一名：波特兰开拓者</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate-low">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">目前球队阵容结构有很大的问题，利拉德和西蒙斯的组合还不如之前利拉德和CJ的组合配合成熟，防守端还是一如既往的漏勺；另外自从比卢普斯执教开拓者以来，让利拉德多打无球，反而失去了他个人的特色，现在开拓者的球风有些不伦不类，想必新赛季会比较坎坷。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/lakers.jpeg" /></td>
            <th class="name-low" colspan="4">第二名：洛杉矶湖人</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate-low">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">湖人最大的问题并不是威少，还是缺少能量，球队整体打得死气沉沉，不得不说，詹姆斯确实老了，有时候还会拖慢球队整体的进攻节奏，而安东尼.戴维斯似乎给人感觉还没有全身心投入到比赛之中，新赛季湖人依旧很难，哪怕没有大的伤病出现，湖人顶多也只是一支季后赛边缘球队，不能报以太大期望。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/hornets.jpeg" /></td>
            <th class="name-low" colspan="4">第三名：夏洛特黄蜂</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate-low">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">从季前赛接连的大比分失利，不难看出，黄蜂也为文班亚马这位天才球员，早早做好了摆烂的准备；黄蜂的防守依旧糟糕，并且上赛季行云流水般的进攻也不见了。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/spurs.jpeg" /></td>
            <th class="name-low" colspan="4">第四名：圣安东尼奥马刺</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate-low">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">休赛期送走了队内核心默里之后，马刺把所有的宝都压在今夏的选秀上了，他们无论如何都要选到文班亚马或者亨德森；因为一支球队最起码要保证一名基石球员，才能有重建的资本，而马刺现在一无所有，所以他们的紧迫感其实要比联盟大多数球队多得多。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/timberwolves.jpeg" /></td>
            <th class="name-low" colspan="4">第五名：明尼苏达森林狼</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">暂无战绩<span class="win-rate-low">赢盘率：/</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">这支球队褒贬不一，当然大多数朋友觉得森林狼今夏引入了戈贝尔后，球队会再上一个台阶，但我却不这么认为，一方面我对戈贝尔和唐斯可以产生的化学反应持悲观态度，因为这两名球员都不是球商很高的类型；另一方面森林狼尽管有足够的天赋，但队内缺乏真正的领袖和坚韧的球员，这是他们目前最大的致命伤，所以对于这支看似天赋很强的球队，我认为不可过分高估。</td>
        </tr> 

    </table>
    <ul class="news-nav">
        {{include ("../layout/news_list.html") }}
    </ul>
    <div class="clear"></div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2022 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}