{{extend ("../layout/default.html")}}
{{#block ("body")}}
<div id="injury" class="injury-nbapc-page">
    <div class="top-menu">
    <div class="portait-img">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
    </div>
    <div class="portait-text">
        <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/arrow.png" /><span class="scan">可扫一扫右侧二维码</span></div>
        <div class="text-notice">NBA伤病名单实时更新、篮彩盘口投注率更新、篮彩经验学习</div>
    </div>
    <div class="portait-qrcode">
        <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode.jpg" />
    </div>
    </div>
    <div class="clear"></div>
    <ul class="nav">
        <li><a href="/injurynbapc.html">NBA</a></li>
        <li class="vote-ratio"><a href="/votepc.html">盘口投注率</a></li>
        <li class="lancai"><a href="/lancaipc.html">篮彩经验学习</a></li>
        <li class="vote-ratio"><a href="#" class="selected">盘口红黑榜</a></li>
    </ul>
    <div class="clear"></div>
    <div class="updatetime">红黑榜更新时间：<strong>2023-02-02[周四]16:27</strong>（每周持续更新，敬请关注）</div>
    <table class="list" border="0" cellspacing="1" cellpadding="0">
        <tr>  
            <th colspan="5" class="rank-team-up"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-up.png" /><span class="th-title">近期让分盘红榜（老黑推荐）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/thunder.jpeg" /></td>
            <th class="name" colspan="4">第一名：俄克拉荷马城雷霆</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">32-1-18<span class="win-rate">赢盘率：64.0%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">随着球队两位年轻的新秀亚历山大和吉迪快速的成长，雷霆已成为西部不可小觑的一股新势力，他们本赛季势必会往西部附加赛发起全力冲击。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/knicks.jpeg" /></td>
            <th class="name" colspan="4">第二名：纽约尼克斯</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">26-2-24<span class="win-rate">赢盘率：52.0%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">尼克斯休赛期签下的布伦森，有效解决了上赛季阵地战缺少突破手进攻乏力的问题，尼克斯只要在进攻端能持续输出，再加上他们一直以来相对稳定的防守，新赛季还是能有一番作为的。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/pelicans.jpeg" /></td>
            <th class="name" colspan="4">第三名：新奥尔良鹈鹕</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">24-0-28<span class="win-rate">赢盘率：46.1%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">这支球队跟去年的灰熊非常类似，板凳很有深度，待球队阵容齐整之后，下半赛季在赢盘率上会有一个较大的反弹。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/kings.jpeg" /></td>
            <th class="name" colspan="4">第四名：萨克拉门托国王</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">28-0-22<span class="win-rate">赢盘率：56.0%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">今年国王主教练迎来迈克.布朗，且休赛期也签下了赫尔特具备上佳投射能力的双能卫，正好和福克斯形成一个互补的后场组合，再加上他们的板凳深度，国王还是有时隔十六年后冲击季后赛的资本的，至少附加赛应该得去拼一拼。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/hawks.jpeg" /></td>
            <th class="name" colspan="4">第五名：亚特兰大老鹰</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">23-0-29<span class="win-rate">赢盘率：44.2%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">推荐理由</td>
            <td colspan="3">老鹰上半赛季因为伤病的原因，战绩和赢盘率都不尽如人意，但以他们的阵容水平而言，还有非常大的上升空间和潜力。</td>
        </tr> 
        <tr class="empty"><td colspan="5"></td></tr>  

        <tr>  
            <th colspan="5" class="rank-team-down"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/rank-down.png" /><span class="th-title">近期让分盘黑榜（老黑看衰）</span></th>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/mavericks.jpeg" /></td>
            <th class="name-low" colspan="4">第一名：达拉斯独行侠</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">17-0-35<span class="win-rate-low">赢盘率：32.6%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">独行侠最大的问题就持球发起进攻点太少了，只有东契奇和丁威迪能干这件事情，所以一旦东契奇状态不佳或者缺阵的比赛，独行侠就会打得十分艰难，球队阵容中大多都是接球射手和吃饼型球员，所以如果本赛季交易截止日之前他们倘若没有大动作，我会非常震惊。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/rockets.jpeg" /></td>
            <th class="name-low" colspan="4">第二名：休斯顿火箭</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">20-0-29<span class="win-rate-low">赢盘率：40.8%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">火箭本赛季至少出现了六、七次在领先二十来分的情况下，接连被对手大逆转，无论是球队老将还是年轻球员，都已经接受了自己球队正在摆烂的现实，整支球队打得散漫且无精打采，需要进一步降低对他们的预期。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/timberwolves.jpeg" /></td>
            <th class="name-low" colspan="4">第三名：明尼苏达森林狼</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">25-1-28<span class="win-rate-low">赢盘率：47.1%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">这支球队褒贬不一，当然大多数朋友觉得森林狼今夏引入了戈贝尔后，球队会再上一个台阶，但我却不这么认为，一方面我对戈贝尔和唐斯可以产生的化学反应持悲观态度，因为这两名球员都不是球商很高的类型；另一方面森林狼尽管有足够的天赋，但队内缺乏真正的领袖和坚韧的球员，这是他们目前最大的致命伤，所以对于这支看似天赋很强的球队，我认为不可过分高估。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/spurs.jpeg" /></td>
            <th class="name-low" colspan="4">第四名：圣安东尼奥马刺</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">23-0-29<span class="win-rate-low">赢盘率：44.2%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">马刺可以说是联盟所有球队中争夺文班亚马决心最强的球队，以他们完整阵容的实力而言，不至于联盟垫底，但管理层的策略和方向已经决定了他们即将会成为本赛季联盟的副班长。</td>
        </tr> 
        <tr class="title">  
            <td rowspan="3" class="team_logo"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/nba-logo/hornets.jpeg" /></td>
            <th class="name-low" colspan="4">第五名：夏洛特黄蜂</th>
        </tr> 
        <tr>  
            <td class="td-title">盘口排名</td>
            <td colspan="3">23-2-27<span class="win-rate-low">赢盘率：46.0%</span></td>
        </tr> 
        <tr>  
            <td class="td-title">看衰理由</td>
            <td colspan="3">从季前赛接连的大比分失利，不难看出，黄蜂也为文班亚马这位天才球员，早早做好了摆烂的准备；黄蜂的防守依旧糟糕，并且上赛季行云流水般的进攻也不见了。</td>
        </tr> 

    </table>
    <ul class="news-nav">
        {{include ("../layout/news_list.html") }}
    </ul>
    <div class="clear"></div>
    <div class="bottom">
    <div class="bottom-text">
        本网站服务由[篮彩老黑]独家提供&nbsp;&nbsp;&nbsp;&nbsp;<span>版权所有ICP证：</span>
        <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
        Copyright © 2022 cbdyou.com.cn 保留一切权利
    </div>
    <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}