{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="detail" class="news-detail">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日篮球推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">WNBA新闻资讯、WNBA伤病名单实时更新、WNBA篮彩投注率更新</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li class="vote-ratio"><a href="/injurywnba.html">WNBA伤病</a></li>
            <li class="news-ratio"><a class="checked" href="#">WNBA新闻</a><span class="selected"></span></li>
            <li class="lancai"><a href="/lancai.html">专栏文章</a></li>
            <li class="lancai"><a href="/vote.html">盘口热度</a></li>   
        </ul>
    </div>
    <div class="clear"></div>
    <div id="detail" class="detail-page">
        <a class="detail-return" href="/info.html"><span class="detail-dot">&lt&lt</span>WNBA新闻列表</a>
        <div class="detail-title">[专栏连载]WNBA球队实力榜：第3周</div>
        <div class="detail-lable">
            <span class="detail-author">文/老黑</span>
            <span class="detail-time">2022-05-25 10:50</span>
        </div>
        <div class="detail-img"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/wnba-news/4.jpg" /></div>
        <div class="detail-content">
            <strong class="article-title">第一名：拉斯维加斯王牌&nbsp;&nbsp;&nbsp;&nbsp;上周（1）</strong><br/><br/>
            当前总战绩:（7-1）<br/></br>
            上周战绩:（3-0）W 水星 74:86 王牌；W 山猫 87-93 王牌；W 水星 80-100 王牌<br/><br/>
            以完美的3-0周战绩提升到本赛季联盟最佳的6-1之后，王牌上升到了战绩第一的位置；<br/></br>
            王牌拥有WNBA最高的得分效率（每100回合110.3分），并且是联盟中最高的投篮命中率球队（有效投篮命中率高达54.7%），同时以联盟最快的节奏打球（每40分钟82.93次投篮），杰吉.杨（场均19.3分）和普拉姆（场均18.3分）的后场组合分别在联盟得分排名第三和第五，与此同时，阿贾.威尔逊以四次两双的数据雄踞联盟榜首之位。<br/></br>
            <strong class="article-title">第二名：康涅狄克阳光&nbsp;&nbsp;&nbsp;&nbsp;上周（4）</strong><br/><br/>
            当前总战绩:（4-1）<br/></br>
            上周战绩:（3-0）W 阳光 92:65 自由人；W 狂热 85:94 阳光；W 阳光 92:70 狂热<br/><br/>
            自从赛季揭幕战被爆冷输给自由人之后，阳光已经连续赢了四场比赛，并且在攻防两端都表现出色；<br/></br>
            她们的防守效率排名第一（每100回合失分90.5分），进攻效率排名第二（108.5分），成为联盟最高的净胜率（每100回合得分超过对手18分）；<br/></br>
            不过尽管球队战绩出色，但上赛季的常规赛MVP琼奎尔.琼斯却始终找不到状态，这不禁令人担忧，如果阳光碰上强队还能打得这么顺风顺水吗？<br/></br>
            <strong class="article-title">第三名：芝加哥天空&nbsp;&nbsp;&nbsp;&nbsp;上周（3）</strong><br/><br/>
            当前总战绩:（3-2）<br/></br>
            上周战绩:（1-1）L 天空 71:74 风暴；W 天空 82:73 神秘人<br/><br/>
            卫冕冠军天空在上周日客场战胜了近期状态不错的神秘人队，值得一提的是，2021年总决赛FMVP库铂终于回归球队，并在赛季首战砍下12分，并且2019年的总决赛FMVP艾玛.梅斯曼也砍下了11分，再加上坎迪斯.帕克的三双，一同帮助球队获得了这场来之不易的客场胜利；<br/></br>
            此役过后，坎迪斯.帕克不仅成为了WNBA历史上最年长的拿三双的球员，同时她也成为了唯一一位在两支不同球队都拿过三双的球员。<br/></br>
            <strong class="article-title">第四名：华盛顿神秘人&nbsp;&nbsp;&nbsp;&nbsp;上周（2）</strong><br/></br>
            当前总战绩:（5-2）<br/></br>
            上周战绩:（2-1）W 神秘人 84:68 飞翼；W 神秘人 78:73 梦想；L 天空  82:73 神秘人<br/></br>
            尽管上周日输给了天空队，但神秘人队本赛季开局不错，这也多亏了多恩的复出，一下子又让神秘人队重归总冠军候选人的热门之一；<br/></br>
            这是神秘人自2018赛季以来赛季七场比赛的最佳开局，值得注意的是，神秘人队和阳光队一同成为本赛季进攻和防守效率排名均在前三的仅有两支球队。<br/></br>
            <strong class="article-title">第五名：亚特兰大梦想&nbsp;&nbsp;&nbsp;&nbsp;上周（6）</strong><br/></br>
            当前总战绩:（4-2）<br/></br>
            上周战绩:（1-1）W 梦想 101:79 狂热；W 神秘人 78:73 梦想<br/></br>
            对于今年的WNBA状元莱恩.霍华德来说，无论用多么夸张的语言来赞美她都不为过，本赛季到目前为止，她以场均20.5分的得分位居榜首的位置；<br/></br>
            梦想除了霍华德之外，夏安.帕克也是球队中另一位十分稳定的球员，场均得分11.5分，在她们的协同努力之下，梦想目前的战绩4-2，远远超出了预期。<br/></br>
            <strong class="article-title">第六名：西雅图风暴&nbsp;&nbsp;&nbsp;&nbsp;上周（9）</strong><br/></br>
            当前总战绩:（3-3）<br/></br>
            上周战绩:（2-0）W 天空 71:74 风暴； W 火花 80:83 风暴<br/></br>
            在健康安全协议的影响下，损失多名主力球员的风暴，终于挺过了最为艰难的第二周；而当核心斯图尔特回归后，立刻带领球队取得了二连胜，效果立竿见影，这就是当前WNBA最佳球员的实力；<br/></br>
            值得注意的是，因为新大楼的原因，风暴本赛季的主客场赛程相对独特一些，她们将会在5月14日至6月7日这三周半的时间内，均在主场作战；而赛季最后的25场比赛中，有16场将会是客场比赛。<br/></br>
            <strong class="article-title">第七名：达拉斯飞翼&nbsp;&nbsp;&nbsp;&nbsp;上周（7）</strong><br/></br>
            当前总战绩:（4-2）<br/></br>
            上周战绩:（2-1）L 神秘人 84:68 飞翼； W 飞翼 94:84 水星； W 山猫 78:94 飞翼<br/></br>
            飞翼是本赛季另一支令人惊喜的球队，她们在过去的一周内，尽管输给了强大的神秘人，但依然表现不俗，随后分别击败了水星和山猫，两场比赛都得到94分，继续保持本赛季客场之旅不败的记录；<br/></br>
            当她们前往康涅狄克州在周三和周五的两场比赛中连续迎战阳光时，她们能否保持住这种势头？她们需要队内的全明星球员奥贡博瓦尔继续滚烫的手感， 来对抗阳光坚韧的防守；<br/></br>
            奥贡博瓦尔在本赛季飞翼的两场失利比赛中均只得到了个位数的得分，而在飞翼的四场胜利中，她场均能得到26.3分。<br/></br>
            <strong class="article-title">第八名：菲尼克斯水星&nbsp;&nbsp;&nbsp;&nbsp;上周（5）</strong><br/></br>
            当前总战绩:（2-4）<br/></br>
            上周战绩:（0-3）L 水星 74:86 王牌； L 飞翼 94:84 水星；L 水星 80:100 王牌<br/></br>
            水星经历了艰难的一周，连续三场失利——两场在拉斯维加斯，一场在主场对阵飞翼，谁都没想到，上赛季的WNBA亚军会以2-4开局，尽管少了格里娜，原本预计是会比较困难，但目前似乎比想象中还不太乐观；<br/></br>
            对于水星积极的一面是，她们是联盟中最平衡的进攻球队之一，有四名球员场均至少得到14分，这使得她们的得分点比较分散，不太容易限制，期待她们本周会有反弹。<br/></br>
            <strong class="article-title">第九名：洛杉矶火花&nbsp;&nbsp;&nbsp;&nbsp;上周（8）</strong><br/></br>
            当前总战绩:（2-5）<br/></br>
            上周战绩:（0-2）L 山猫 87:84 火花；L 火花 80:83 风暴<br/></br>
            过去一周，火花队在主客场分别输给了山猫队和风暴队，遭遇了两场3分之差的失利，并将她们的连败纪录扩大到了四连败；<br/></br>
            休赛期引进的坎贝奇表现十分低迷，与当年的MVP赛季简直判若两人，但对于目前火花糟糕的战绩，最大的责任人还是在教练组，费舍尔再次证明自己无论是在NBA还是在WNBA，执教这块还有很长的路要走。<br/></br>
            <strong class="article-title">第十名：明尼苏达山猫&nbsp;&nbsp;&nbsp;&nbsp;上周（10）</strong><br/></br>
            当前总战绩:（1-6）<br/></br>
            上周战绩:（1-2）W  山猫 87:84 火花；L  山猫 87:93 王牌；L  山猫 78:94 飞翼<br/></br>
            上周三，托火花队的福，山猫队终于赢得了2022赛季的首场胜利，并且复出的麦克布赖德，在她的首场比赛中表现十分出色，狂砍24分帮助球队在客场以3分的优势战胜了火花队；<br/></br>
            然而，山猫队无法在这场胜利的基础上再接再厉，因为她们在随后的比赛中，又接连输给了王牌和飞翼；<br/></br>
            正如赛季初所讨论的那样，本赛季山猫的阵容确实非常一般，所以现在只能看主教练里夫是否能再创造奇迹了。<br/></br>
            <strong class="article-title">第十一名：印第安纳狂热&nbsp;&nbsp;&nbsp;&nbsp;上周（11）</strong><br/></br>
            当前总战绩:（2-6）<br/></br>
            上周战绩:（1-2）L  山猫 87:84 火花；W  山猫 87:93 王牌；L  山猫 78:94 飞翼<br/></br>
            上周，狂热队再次输给了梦想，然后不出意外地又连输了两场给强大的阳光队，自此她们的连败纪录已经扩大到四场；<br/></br>
            狂热目前最大的问题就出在投篮上，她们在每个投篮类别中均排名联盟倒数三位——投篮命中率排名第11（40.9%），三分命中率排名第10（32.6%），罚球命中率排名第11（74.3%），真实投篮命中率排在联盟垫底（49.7%）；<br/></br>
            狂热是本赛季迄今为止唯一一支真实投篮命中率低于50%的球队，可见她们目前的投篮水准又多低了。<br/></br>
            <strong class="article-title">第十二名：纽约自由人&nbsp;&nbsp;&nbsp;&nbsp;上周（12）</strong><br/></br>
            当前总战绩:（1-4）<br/></br>
            上周战绩:（0-1）L  阳光 65:92 自由人<br/></br>
            两个多星期前，自由人在主场战胜了强大的阳光队，以81-79获取揭幕战胜利时，大家都对这支青年军充满了期待；<br/></br>
            岂料仅仅过去两周多的时间，自由人队的风评发生了180度的转变，当前球队已经连续输掉了四场比赛，包括本赛季迄今为止分差最大的两场失利（5月11日，客场33分输给了天空队，5月17日，27分输给了阳光队）；<br/></br>
            自由人本赛季表现不佳的原因是多方面的，而伤病是其中最大的一个因素，所以自由人要想在后面的比赛中奋起直追，得祈祷球队伤员都能尽快归队，这样才能具备战绩反弹的资本。<br/></br>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2023 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}