{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="detail" class="news-detail">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">WNBA新闻资讯、WNBA伤病名单实时更新、WNBA篮彩投注率更新</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li><a href="/injurywnba.html">WNBA</a></li>
            <li class="vote-ratio"><a href="/vote.html">盘口热度</a></li>
            <li class="vote-ratio"><a href="#">WNBA新闻</a><span class="selected"></span></li>
            <li><a href="/injurynba.html">NBA</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="detail" class="detail-page">
        <a class="detail-return" href="/info.html"><span class="detail-dot">&lt&lt</span>WNBA新闻列表</a>
        <div class="detail-title">[赛场速递]山猫76-82狂热，激情与经验的碰撞</div>
        <div class="detail-lable">
            <span class="detail-author">文/老黑</span>
            <span class="detail-time">2022-05-10 20:21</span>
        </div>
        <div class="detail-img"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/wnba-news/2.jpg" /></div>
        <div class="detail-content">
             两支球队新赛季都是开局不利，目前都是两战皆负，今天这战谁都想拿下胜利，为新赛季开一个好头。<br/><br/>
             上半场狂热这边三分球神准，一下子打开了局面，以9分领先结束了上半场。<br/><br/>
             下半场山猫凭借老道的经验，稳扎稳打，慢慢蚕食了对方领先的分数，而狂热的三分球也没有像上半场这么神准了。<br/><br/>
             到了第四节决战时刻，山猫终于反超比分了，但就在这个时候，连续的失误和误攻不进葬送了好局，最终狂热主场险胜山猫6分，这支青年军上下一心，拿下了新赛季的开门红。<br/><br/>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2023 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}