{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="detail" class="news-detail">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日红单推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">WNBA新闻资讯、WNBA伤病名单实时更新、WNBA篮彩投注率更新</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li><a href="/injurywnba.html">WNBA</a></li>
            <li class="vote-ratio"><a href="/vote.html">盘口投注率</a></li>
            <li class="vote-ratio"><a href="#">WNBA新闻</a><span class="selected"></span></li>
            <li><a href="/injurynba.html">NBA</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="detail" class="detail-page">
        <a class="detail-return" href="/info.html"><span class="detail-dot">&lt&lt</span>WNBA新闻列表</a>
        <div class="detail-title">[专栏连载]WNBA球队实力榜：第1周</div>
        <div class="detail-lable">
            <span class="detail-author">文/老黑</span>
            <span class="detail-time">2022-05-12 14:16</span>
        </div>
        <div class="detail-img"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/wnba-news/4.jpg" /></div>
        <div class="detail-content">
            <strong>第一名：拉斯维加斯王牌上周（0）</strong><br/><br/>
            上周战绩:（2-0）W 王牌 106:88 水星；W 风暴 74-85 王牌  <br/><br/>
            Becky Hammon时代在拉斯维加斯的开局再好不过了，因为Aces以战胜菲尼克斯和西雅图的胜利开启了本赛季。Aces赢得了过去三届年度最佳女性奖——2019年和2020年的Dearica Hamby和2021年的Kelsey Plum——但这两个超级替补现在都在Aces的首发阵容中；<br/><br/>
            拉斯维加斯正在以速度和空间打球，抓住每一个机会推进，加快节奏，并且与前几个赛季不同 - 本赛季大大增加了投三分球的数量；<br/><br/>
            在过去五个赛季的三分出手数排在联盟末段，Aces在新赛季之后以场均19.5次三分出手排名第七，且本赛季到目前为止，先发五人组的每一位成员在两场比赛中的得分都达到了两位数。<br/><br/>
            <strong>第二名：华盛顿神秘人上周（0）</strong><br/><br/>
            上周战绩:（2-0）W 狂热 70:84 神秘人；W 神秘人 66:78 天猫<br/><br/>
            自从带领神秘人队夺得2019年WNBA总冠军后，埃琳娜·戴尔·多恩（Elena Delle Donne）只打了三场比赛，就在周五对阵印第安纳的赛季揭幕战中重返赛场，在30分钟的比赛中得到21分和9个篮板，就像她拿MVP赛季一样厉害；<br/><br/>
            神秘主义者在她回来的路上继续对她保持谨慎，戴尔·多恩（Delle Donne）没有参加华盛顿在周日战胜明尼苏达的比赛，因为神秘人队从阿里尔·阿特金斯（Ariel Atkins）那里得到20分，从三号秀夏奇拉·奥斯汀（Shakira Austin）得到两双（13 分，10 个篮板），娜塔莎·克劳德（Natasha Cloud）得到19分，这说明这支球队目前整体实力非常强大，并非仅靠多恩一人；<br/><br/>
            <strong>第三名：西雅图风暴上周（0）</strong><br/><br/>
            上周战绩:（1-1）W 天猫 74:97 风暴；L 风暴 74:85 王牌<br/><br/>
            在他们回到西雅图市中心的第一场比赛中，风暴以97-74战胜明尼苏达州的比赛中表现出色，布雷安娜·斯图尔特和朱厄尔·洛伊德各得 17分，苏·伯德上两双还差一个助攻；<br/><br/>
            然而，风暴无法在周日在拉斯维加斯的第一次客场比赛中复制这种成功，他们在一场比赛中以85-74输给了Aces；<br/><br/>
            本周，风暴队会与菲尼克斯队进行了主场系列赛，这是上赛季季后赛第二轮结束后的又一次对决。<br/><br/>
            <strong>第四名：芝加哥天空上周（0）</strong><br/></br>
            上周战绩:（0-1）L 火花 98:91 天空<br/></br>
            周五，天空队在加时赛输给洛杉矶的比赛中开启了他们的卫冕之路，芝加哥在没有去年冠军阵容中的两名首发球员的情况下进行了比赛——总决赛MVP Kahleah Copper仍在海外打球，后卫Allie Quigley膝盖受伤受伤；<br/></br>
            天空队所有五名先发球员的得分都达到了两位数，其中包括达纳·埃文斯的职业生涯最高的24分和坎迪斯·帕克的21分；然而，天空队的替补队员以37-10的比分被火花队的替补击败；<br/></br>
            天空队也出现了20次失误——包括来自Courtney Vandersloot的不寻常的8次失误和帕克的六个，这是他们这场比赛最终被逆转输球的最大原因；<br/></br>
            <strong>第五名：洛杉矶火花上周（0）</strong><br/></br>
            上周战绩:（2-0）W 火花 98:91 天空；W 火花 77:87 狂热<br/></br>
            火花队以连续四场客场比赛拉开2022赛季的序幕，其中包括与卫冕冠军芝加哥天空队的开幕之夜对决。来自Jordin Canada的21分和 8次助攻，以及来自Nneka Ogwumike的19分、7个篮板和3次抢断，帮助洛杉矶队在加时赛中击败了芝加哥队；<br/></br>
            两天后在印第安纳州，Liz Cambage在她新球队的第二场比赛中大放异彩，在洛杉矶以87-77获胜的比赛中，她得到全场最高的22分和 11个篮板；<br/></br>
            这是一支非常有天赋的球队，但是在赛季初期将这么多新球员聚集在一起并找到合适的化学反应和阵容组合存在问题，对费舍尔来说将是一个考验。<br/></br>
            <strong>第六名：纽约自由人上周（0）</strong><br/></br>
            上周战绩:（1-0）W 阳光 79:81 自由人<br/></br>
            尽管错过了上赛季的头号得分手——场均16.8分的贝特尼贾·兰尼（Betnijah Laney），他因膝盖酸痛缺阵——但自由人队在周六以 81-79战胜康涅狄格州开启了2022赛季；<br/></br>
            萨布丽娜·约内斯库（Sabrina Ionescu）以25分和6个助攻，带领自由队取得胜利；<br/></br>
            娜塔莎霍华德（16），萨米惠特科姆（15）和乔斯林威洛比（13）也得分上双，这是纽约在新主教练桑迪布朗德洛执掌的第一场比赛中获胜；<br/></br>
            在本赛季对阵2021年东部第一名的球队结束后，自由队将在本周三迎来对阵卫冕冠军的比赛，预计届时兰尼能够重返赛场。<br/></br>
            <strong>第七名：康涅狄克太阳上周（0）</strong><br/></br>
            上周战绩:（0-1）L 阳光 79:81 自由人<br/></br>
            太阳队在2022赛季开局时人手不足，德瓦娜·邦纳 (DeWanna Bonner) 没有加入球队，因为她还在海外打球，而考特尼·威廉姆斯 (Courtney Williams) 则停赛两场；<br/></br>
            因此，尽管太阳队在周六的赛季揭幕战中输给了自由队，但不要指望康涅狄格州的排名会长期保持如此低的水平，尤其是如果他们继续像我们在周六看到的那样从Alyssa Thomas那里得到表现，她在36分钟内以16-10投篮得到25分，并以7个篮板、4次抢断和2次助攻，表现十分出色；<br/></br>
            另外请记住，阳光队还有上赛季的MVP琼奎尔.琼斯。<br/></br>
            <strong>第八名：菲尼克斯水星上周（0）</strong><br/></br>
            上周战绩:（0-1）L 王牌 106:88 水星<br/></br>
            人手不足的水星队在周五以106-88输给Aces的比赛开始了本赛季，Skylar Diggins-Smith得到全场最高的25分，但陶乐西在32分钟内只得到9分。这是自2018年以来，陶乐西第一次出场至少30分钟并且得分没有达到两位数；<br/></br>
            菲尼克斯在没有前两名篮筐保护者——布兰妮·格里纳和布里安娜·特纳——以及纳斯和戴蒙德·德希尔兹的情况下出战比赛，非常不容易，足见这支球队的伤病情况了；<br/></br>
            特纳和德希尔兹预计将在周三对阵西雅图的比赛中回归，为水星队提供一些急需的增援。<br/></br>
            <strong>第九名：亚特兰大梦想上周（0）</strong><br/></br>
            上周战绩:（1-0）W 梦想 66:59 飞翼<br/></br>
            WNBA2022届状元秀莱恩.霍华德，在职业赛场中的适应程度比想象中还要快，她在职业处子秀中大放异彩，在周六的赛季揭幕战中，亚特兰大以66-59战胜达拉斯的比赛中，霍华德得到16分、4次助攻、4次盖帽和2次抢断；<br/></br>
            亚特兰大本周主场迎战洛杉矶和拉斯维加斯，然后在周日迎战印第安纳；球队有了状元秀霍华德，就有了未来，值得期待。<br/></br>
            <strong>第十名：明尼苏达天猫上周（0）</strong><br/></br>
            上周战绩:（0-2）L  天猫 74:97 风暴；L  神秘人 78:66 天猫<br/></br>
            Sylvia Fowles告别赛季并没有像天猫队希望的那样开始，因为明尼苏达队在本赛季的前两场比赛中输掉了比赛，与联盟中的许多球队一样，天猫队在开始2022年的比赛时人手不足；<br/></br>
            已经没有全明星球员Napheesa Collier，因为她怀孕很有可能整个赛季都打不了，Lynx 也没有 Kayla McBride（海外打球），Damiris Dantas（脚）和Angel McCoughtry错过了周五的赛季揭幕战，周日只打了13分钟在处理她的膝盖酸痛；<br/></br>
            这赛季对天猫来说，将会是一个非常难熬的赛季。<br/></br>
            <strong>第十一名：达拉斯飞翼上周（0）</strong><br/></br>
            上周战绩:（0-1）L  梦想 66:59 飞翼<br/></br>
            说Wings的赛季开局缓慢还是说得略微保守了，因为达拉斯在周六输给亚特兰大的比赛中只得到59分；<br/></br>
            玛丽娜·马布里在替补出场的24分钟内以16-8的投篮得分得到20分，这是球队唯一的遮羞布；<br/></br>
            而球队其他人在54-9的投篮命中率（16.7%）中仅得39分。请记住，达拉斯没有两名关键球员，她们仍在海外打球，即Satou Sabally和Teaira McCowan；<br/></br>
            The Wings会一直休息到周五，届时她们将会去华盛顿挑战神秘人，然后在周日前往布鲁克林迎战 Liberty。<br/></br>
            <strong>第十二名：印第安纳狂热上周（0）</strong><br/></br>
            上周战绩:（0-2）L 狂热 70:84 神秘人；L 火花 87:77 狂热<br/></br>
            2022年WNBA选秀中，前10个选秀中有4个被狂热选中，她们的出场名单上有五名新秀，其中三名在首发阵容中——2号新秀NaLyssa Smith，10号新秀Queen Egbo和20号新秀德斯坦尼·亨德森；<br/></br>
            虽然狂热队在本赛季前两场对阵华盛顿和洛杉矶的比赛中都未能取胜，但这支年轻的球队在比赛的过程中仍有很多亮点，打得非常努力和有激情，总体来说，这支青年军还是值得期待的。<br/></br>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2022 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}