{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="detail" class="news-detail">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日篮球推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">WNBA新闻资讯、WNBA伤病名单实时更新、WNBA篮彩投注率更新</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li><a href="/injurywnba.html">WNBA</a></li>
            <li class="vote-ratio"><a href="/vote.html">盘口热度</a></li>
            <li class="vote-ratio"><a href="#">WNBA新闻</a><span class="selected"></span></li>
            <li><a href="/injurynba.html">NBA</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="detail" class="detail-page">
        <a class="detail-return" href="/info.html"><span class="detail-dot">&lt&lt</span>WNBA新闻列表</a>
        <div class="detail-title">[专栏文章]WNBA2022赛季十大球星排名</div>
        <div class="detail-lable">
            <span class="detail-author">文/老黑</span>
            <span class="detail-time">2022-05-10 20:21</span>
        </div>
        <div class="detail-img"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/wnba-news/1.jpg" /></div>
        <div class="detail-content">
            <strong>第一名：斯图尔特（SF）西雅图风暴</strong><br/><br/>
            新赛季前两场常规赛场均19分，发挥一如既往稳定，尽管在休赛期进行了轻微的跟腱手术，但状态并未受到任何影响；<br/><br/>
            在WNBA女篮历史上，很少有人像斯图尔特那样天赋异禀，她是真正的攻防两端精英，具备罕见的体型、运动能力、技巧这三者的完美结合，让她无论是在内线还是在外线都能如入无人之境地；<br/><br/>
            斯图尔特是每赛季主要奖项的竞争者，并将在未来几年保持同样的竞争力。<br/><br/>
            <strong>第二名：威尔逊（C）拉斯维加斯王牌</strong><br/><br/>
            王牌休赛期送走了坎贝奇，扶正了威尔逊为球队内线唯一的核心，新赛季开赛后，威尔逊也不负球队的期待，率队打出了两连胜，并且赢得十分轻松；<br/><br/>
            作为一名身高1.93米的内线，她高低位的技术都十分娴熟，高位能策应，低位能强攻，上赛季她的得分、篮板和盖帽均排在联盟前10位，并且场均助攻也创下了职业生涯新高；<br/><br/>
            威尔逊今年也只有25岁，在送走坎贝奇以及聘请哈蒙作为主教练后，威尔逊势必会在球队中扮演核心的角色，我们有理由相信，2022赛季很有可能是威尔逊迄今为止最好的一个赛季。<br/><br/>
            <strong>第三名：帕克（PF）芝加哥天空</strong><br/><br/>
            帕克是我目前最喜欢的WNBA球员，虽然已经是征战多年的老将了，但在攻防两端依然处于联盟的精英水平，她的老将领导能力和冠军血统被证明是上赛季将天空推向总冠军的关键所在；<br/><br/>
            尽管总决赛FMVP由她的队友库铂所获得的，但我认为帕克的表现才是奠定球队成功的基石，她做了很多数据栏中无法提现的细节工作；<br/><br/>
            从赛季第一场表现来看，在库铂暂时无法归队的情况下，帕克仍将扛起天空的大旗，带领球队走出逆境。<br/><br/>
            <strong>第四名：洛伊德（SG）西雅图风暴</strong><br/><br/>
            我认为洛伊德是目前WNBA中最具得分爆炸力的球员之一，是一个非常纯粹的得分手；<br/><br/>
            上赛季她结束了职业生涯中最好的一个赛季，场均17.9分（联盟第七）和3.8次助攻均创下职业生涯新高，并且也第一次入选了WNBA第一阵容，洛伊德基本上已经确定了自己在联盟中就最好的得分后卫；<br/><br/>
            此外，上赛季洛伊德在防守端也有了显著的提升，看好她能持续进步，并在未来的几年长期占据联盟第一得分后卫的位置，她的球衣号码24号也象征着跟科比一样，有一颗无畏的心。<br/><br/>
            <strong>第五名：琼斯（PF）康涅狄克阳光</strong><br/><br/>
            作为上赛季的常规赛MVP，琼斯的排名原本要更高，但看了她新赛季的第一场表现，我为阳光这赛季的前景而感到担忧，我现在也十分后悔在前一周的新赛季球队排名中，把阳光放在第一位的位置；<br/><br/>
            尽管不能说一场论，但琼斯的低迷状态，从上赛季季后赛就开始了，我原本以为她能克服心理问题，这赛季能涅槃重生，但目前来看，前景堪忧；<br/><br/>
            从个人进攻技术以及防守端的表现来说，用天赋异禀来形容琼斯一点都不为过，我对琼斯这名球员的看法就是，她是一名非常优秀的球员，但不具备领袖气质。<br/><br/>
            <strong>第六名：多恩（SF）华盛顿神秘人</strong><br/><br/>
            永远不能忽视这位两届MVP球员，且多恩已经证明了自己超强的带队能力，在2019赛季，以50-40-90的高效表现，带领华盛顿神秘人获得了俱乐部有史以来的第一个总冠军头衔；<br/><br/>
            只不过从那以后，多恩只打了三场WNBA比赛，并接受了多次背部手术，以解决椎间盘突出和神经疼痛的伤病问题；<br/><br/>
            目前来看，伤病才是多恩最大的对手，当她处于完全健康状态，多恩至少是一位MVP排行榜排名前五位的球员。<br/><br/>
            <strong>第七名：范德斯洛特(PG)芝加哥天空</strong><br/><br/>
            作为上赛季卫冕冠军芝加哥天空进攻端的指挥者，范德斯洛特开始得到她本该早就应该享有的赞誉和关注；<br/><br/>
            连续五个赛季范德斯洛特的场均助攻数（8.6）都领跑联盟，这并非是一件易事，足见这名球员的稳定性，且她在季后赛的表现更上一层楼，在总决赛中打出了场均两双的惊艳表现；<br/><br/>
            范德斯洛特可以说是目前联盟中最好的控球后卫，在进入2022赛季后，她将会跟帕克、库铂一起，带领球队去追逐另一个总冠军。<br/><br/>
            <strong>第八名：奥胡米克（PF）洛杉矶火花</strong><br/><br/>
            尽管火花休赛期引进了最好的内线之一坎贝奇的加盟，但我认为真正能帮助这支球队本赛季重返季后赛的关键人物，还是这位前状元兼MVP奥胡米克；<br/><br/>
            奥胡米克作为一名矮个内线，着实是被低估了，尽管身材矮小，但她一直是一名高效的内线得分手、稳定的三分射手、强壮的篮板手、以及一名值得信赖的防守大闸，她在内线的位置感和嗅觉像是与生俱来，非常出色，大大弥补了她身高的劣势；<br/><br/>
            可以说，当奥胡米克完全健康时，她仍然是一名联盟精英级别的球员，年龄并不能限制住她，而从常规赛她第一场表现来看，非常有希望在本赛季恢复到受伤前的状态，就让我们拭目以待吧。<br/><br/>
            <strong>第九名：史密斯（PG）菲尼克斯水星</strong><br/><br/>
            水星在本赛季失去格里娜后，能依仗的就是上赛季同样表现出色的球队当家控卫 —— 迪金斯.史密斯了，上赛季她场均得到17.7分和5.3 次助攻，比前一个赛季有了明显的进步；<br/><br/>
            但在本赛季球队没有了格里娜后，史密斯还能保持同样出色的表现，并带领球队取得好成绩吗？这会是一个疑问；<br/><br/>
            史密斯最大的问题在于她球风整体偏软，顺风球会打得更从容些，而在逆风球的局面下，她缺少证明自己能逆风翻盘带队的有效案例；<br/><br/>
            最后再多说一句，她是我认为目前WNBA中颜值最高的球员。<br/><br/>
            <strong>第十名：库铂（SG）芝加哥天空</strong><br/><br/>
            如果在上个赛季开始时还不了解库铂是谁，那经历了2021年的WNBA总决赛后，你一定会对芝加哥天空的这名小个后卫印象深刻；<br/><br/>
            库铂的优势在于能把三分球和攻框结合得非常好，还有一手中距离，并且她非常擅长于持球单打，当球队陷入逆境或打不开局面时，库铂总能承担起攻坚的重任，从不令人失望；<br/><br/>
            如今已经拿到总冠军和FMVP头衔的库铂，自信心方面也不可同日而语，相信这赛季她会取得更大的进步。<br/><br/>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2023 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}