{{extend ("../layout/mobile_default.html")}}
{{#block ("body")}}
<div id="detail" class="news-detail">
    <div class="top-part">
        <div class="top-menu">
            <div class="portait-img">
                <img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/portait.png"/>
            </div>
            <div class="portait-text">
                <div class="text-name"><span class="text-game">每日篮球推荐</span>请关注微信公众号：<strong>[篮彩老黑]</strong></div>
                <div class="text-notice">WNBA新闻资讯、WNBA伤病名单实时更新、WNBA篮彩投注率更新</div>
            </div>
        </div>
        <div class="clear"></div>
        <ul class="nav">
            <li><a href="/injurywnba.html">WNBA</a></li>
            <li class="vote-ratio"><a href="/vote.html">盘口热度</a></li>
            <li class="vote-ratio"><a href="#">WNBA新闻</a><span class="selected"></span></li>
            <li><a href="/injurynba.html">NBA</a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <div id="detail" class="detail-page">
        <a class="detail-return" href="/info.html"><span class="detail-dot">&lt&lt</span>WNBA新闻列表</a>
        <div class="detail-title">[专栏连载]WNBA球队实力榜：第2周</div>
        <div class="detail-lable">
            <span class="detail-author">文/老黑</span>
            <span class="detail-time">2022-05-19 20:45</span>
        </div>
        <div class="detail-img"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/wnba-news/4.jpg" /></div>
        <div class="detail-content">
            <strong class="article-title">第一名：拉斯维加斯王牌&nbsp;&nbsp;&nbsp;&nbsp;上周（1）</strong><br/><br/>
            当前总战绩:（4-1）<br/></br>
            上周战绩:（1-1）L 王牌 76:89 神秘人；W 王牌 96-73 梦想<br/><br/>
            还记得拉斯维加斯王牌在过去五个赛季中三分球的出手次数都联盟垫底吗？那些日子早已一去不复返了，因为王牌在本赛季的前四场比赛中每晚都大量的三分球，并且效率也是联盟最高；<br/><br/>
            不得不说，本赛季哈蒙的强势加盟，让王牌整支球队都焕然一新；周五，王牌在客场战胜梦想队的比赛中投进了16个三分球，创下了球队纪录，要知道这是WNBA历史上第14次一支球队在一场比赛中至少投进16个三分球，考虑到王牌本赛季迄今为止在三分线外的命中率是联盟最高的44%，所以非常看好三分球会成为这支球队本赛季的最强有力杀招。<br/><br/>
            <strong class="article-title">第二名：华盛顿神秘人&nbsp;&nbsp;&nbsp;&nbsp;上周（2）</strong><br/><br/>
            当前总战绩:（4-1）<br/></br>
            上周战绩:（1-1）W 王牌 76:89 神秘人；L 飞翼 94:86 神秘人<br/><br/>
            在本周二，神秘人以89-76战胜王牌的比赛中，在上半场开局不利，下半场强势反弹大逆转拿下了胜利，其中多恩取得了球队的最高分19分；<br/><br/>
            神秘人目前攻防兼备，在核心多恩的身旁，还不乏有娜塔莎.克劳德、阿丽莎.克拉克、伊丽莎白.威廉姆斯这些狠角色，本赛季神秘人4-1的开局令人印象深刻，相信只要保持健康，神秘人一定会带来超出预期的表现。<br/><br/>
            <strong class="article-title">第三名：芝加哥天空&nbsp;&nbsp;&nbsp;&nbsp;上周（4）</strong><br/><br/>
            当前总战绩:（2-1）<br/></br>
            上周战绩:（2-0）W 自由人 50:83 天空；W 天空 82:78 山猫<br/><br/>
            在2022赛季开幕之夜加时输给火花队后，卫冕冠军天空队在本周以两场战胜自由人队和山猫队的胜利作为强势反弹的号角；<br/><br/>
            天空队应该很快让整支球队的完整阵容回归球场上，目前艾莉.奎格利在缺席了本赛季的前两场比赛后于周六首次亮相，在21分钟内得到7分和4次助攻的数据，现在只差WNBA总决赛MVP库铂和李月汝了，要知道库铂刚刚结束了她的海外赛季，她在履历中添加了欧洲联赛MVP、西班牙联赛冠军和总决赛FMVP的殊荣，有库铂在的天空队，进攻火力无疑能再上一个档次。<br/><br/>
            <strong class="article-title">第四名：康涅狄克阳光&nbsp;&nbsp;&nbsp;&nbsp;上周（7）</strong><br/></br>
            当前总战绩:（2-1）<br/></br>
            上周战绩:（1-0）W 火花 60:77 阳光<br/></br>
            在新赛季的前十天里，阳光队的赛程是所有球队中最为轻松的，到目前为止她们只打了两场比赛；在赛季揭幕战中输给自由人队后，太阳队在77-60 战胜火花队的比赛中扳回来了一局；<br/></br>
            阿丽莎.托马斯（23分11篮板5次助攻）和琼克尔.琼斯（Jonquel Jones）（16分12篮板 2次抢断），两名阳光主力球员均打出了两双表现；<br/></br>
            考特尼.威廉姆斯在赛季开始前停赛两场后有资格参加后续的比赛，而德瓦纳.邦纳也从海外比赛中归来了，阳光将会迎来她们阵容的完全体，一展上赛季常规赛头名的风采。<br/></br>
            <strong class="article-title">第五名：菲尼克斯水星&nbsp;&nbsp;&nbsp;&nbsp;上周（8）</strong><br/></br>
            当前总战绩:（2-2）<br/></br>
            上周战绩:（2-0）W 风暴 77:97 水星；W 水星 69:64 风暴<br/></br>
            过去一周，水星队在主客场分别迎战缺兵少将的风暴队——布雷安娜.斯图尔特和敦伍.普林斯在健康安全协议停赛中，而梅赛德斯.拉塞尔也因伤缺席；<br/></br>
            在新赛季水星以一场主场惨败后，用两连胜迎来了有力的回击；其中蒂娜.查尔斯在与风暴队的首场比赛中贡献了22+11的豪华两双数据，而这也是查尔斯第95场比赛拿下两双，显示了一名老将的坚韧；陶乐西在第二场水星胜利中接过接力棒，得到24分并命中6个三分球；<br/></br>
            在水星首场输给王牌的比赛中，她们是没有Brianna Turner 和 Diamond DeShields（如今都已归队）以及 Kia Nurse（仍然缺阵），下周她们将造访拉斯维加斯，届时水星必将全力以赴。<br/></br>
            <strong class="article-title">第六名：亚特兰大梦想&nbsp;&nbsp;&nbsp;&nbsp;上周（9）</strong><br/></br>
            当前总战绩:（4-1）<br/></br>
            上周战绩:（2-1）W 梦想 77:75 火花； L 王牌 96:73 梦想；W 梦想 85:79 狂热<br/></br>
            不记得有多少年WNBA没出过像莱恩.霍华德这样的状元了，仅仅在她的第一个新秀赛季，就全方位改变了球队近几个赛季的窘境，本赛季很有可能在状元霍华德的带领下，重新杀入季后赛；<br/></br>
            在霍华德的第四场大战狂热的比赛中，她轰下33分，带领球队拿下了客场胜利，且帮助球队窜上了当前战绩第一名的位置；<br/></br>
            莱恩.霍华德是WNBA历史上第14位单场得分至少33分的新秀，在常规赛还有32场比赛要打的情况下，霍华德能否在新秀赛季便与威尔逊、奥甘博瓦尔和帕克并驾齐驱，创下多次砍下至少33分的壮举，就让我们拭目以待吧。<br/></br>
            <strong class="article-title">第七名：达拉斯飞翼&nbsp;&nbsp;&nbsp;&nbsp;上周（11）</strong><br/></br>
            当前总战绩:（2-2）<br/></br>
            上周战绩:（2-0）W 飞翼 94:86 神秘人； W 飞翼 81:71 自由人<br/></br>
            在新赛季首场输给梦想队的比赛中仅得59分后，飞翼迅速反弹，本周客场接连斩下神秘人和自由人，展现了她们良好的竞技状态；<br/></br>
            值得一提的是，飞翼核心奥贡博瓦尔在揭幕战中被限制只得7分之后，近两场比赛强势反弹，分别在对阵神秘人的比赛中得到27分，以及在对阵自由队人的比赛中得到21分；<br/></br>
            飞翼应该尽快让萨巴利归队，萨巴利前几日刚结束了她在土耳其联赛的全部比赛，赢得了总冠军以及MVP的殊荣荣誉，萨巴利回来之后，飞翼的阵容结构将会更加强大。<br/></br>
            <strong class="article-title">第八名：洛杉矶火花&nbsp;&nbsp;&nbsp;&nbsp;上周（5）</strong><br/></br>
            当前总战绩:（2-3）<br/></br>
            上周战绩:（0-2）L 梦想 77:75 火花； L 火花 60:77 阳光<br/></br>
            火花队以客场两连胜开始了梦幻开局之后，客场接连遭遇了失利，她们本周分别输给了阳光和梦想；<br/></br>
            本赛季火花名单上有增添了许多新的球员，所以对于球队主教练费舍尔来说，如何尽快建立球队化学反应，以便找到最佳轮换阵容，是教练组的当务之急；<br/></br>
            虽然火花新赛季开局不错，但她们还有很长的路要走，另外球队重要成员之一克里斯蒂.托利弗距离回归还有很长一段时间，她是达拉斯独行侠队的助理教练，独行侠刚刚晋级NBA西部决赛，这也意味着她至少还有两周的时间（如果独行侠晋级的话，可能更久）才能在新赛季首次亮相。<br/></br>
            <strong class="article-title">第九名：西雅图风暴&nbsp;&nbsp;&nbsp;&nbsp;上周（3）</strong><br/></br>
            当前总战绩:（2-3）<br/></br>
            上周战绩:（0-2）L 风暴 77:97 水星；L 水星 69:64 风暴<br/></br>
            实力榜排名第九对风暴来说只是暂时的，因为本周她们失去了两名关键的球员，斯图尔特和普林斯因为新冠缺阵了本周的两场比赛，相信下一周待这两名球员归来后，球队会有一个强势的反弹；<br/></br>
            目前通过本赛季的前四场比赛很难判断这支风暴队，她们在开幕之夜对山猫队令人取得了印象深刻的胜利，球队在攻防上井然有序，下半场一波流带走了对手；<br/></br>
            而之后她们在客场不出意外地输给了王牌，也算是意料之中；然后就是前文说的，由于健康安全协议，她们失去了两名关键球员斯图尔特和普林斯，也因此将两场比赛的胜利拱手相让给了水星；<br/></br>
            由于WNBA只有36场常规赛，所以每一场比赛都很重要，赛程也非常紧凑，期待风暴队接下来的表现。<br/></br>
            <strong class="article-title">第十名：明尼苏达山猫&nbsp;&nbsp;&nbsp;&nbsp;上周（10）</strong><br/></br>
            当前总战绩:（1-4）<br/></br>
            上周战绩:（0-2）L  山猫 76:82 狂热；L  天空 82:78 山猫<br/></br>
            当我们谈论新赛季球队的变化时，没有哪一支球队比明尼苏达山猫队的阵容变化更大了，特别是球队核心科利尔整个赛季都无法出战，这使得目前山猫垫底的战绩并不太令人意外；<br/></br>
            对于山猫队来说，好的迹象是，麦克布赖德已经复出，相信她能给球队带来一些帮助；并且山猫队上赛季也是以0-4开局，然后随后打出22-10的战绩强势结束常规赛；<br/></br>
            所以，对于这支球队，我们可以再观察一下，相信主教练里夫的调整能力。<br/></br>
            <strong class="article-title">第十一名：印第安纳狂热&nbsp;&nbsp;&nbsp;&nbsp;上周（12）</strong><br/></br>
            当前总战绩:（2-4）<br/></br>
            上周战绩:（2-1）W  山猫 76:82 狂热；W  狂热 92:86 自由人；L  梦想 85:79 狂热<br/></br>
            上个赛季，狂热队直到第18场比赛才了当赛季的第二场胜利，而本赛季，他们只用了四场比赛就做到了这一成绩；<br/></br>
            在本赛季0-2开局后，狂热队没有继续消沉，先是在主场击败了山猫，然后在客场又击败了自由人队；<br/></br>
            球队中娜丽莎.史密斯和埃格博这两名新秀，给大家留下了深刻的印象，她们作风硬朗，敢打敢拼，并且还有一手外线篮子；目前史密斯在篮板方面领先所有新秀，并以场均10个篮板排名联盟第三，而埃格博每场以场均1.4次盖帽排名第四，期待这两名新秀接下来能用更出色的表现来帮助球队获取胜利。<br/></br>
            <strong class="article-title">第十二名：纽约自由人&nbsp;&nbsp;&nbsp;&nbsp;上周（6）</strong><br/></br>
            当前总战绩:（1-4）<br/></br>
            上周战绩:（0-3）L 自由人 50:83 天空；L 自由人 86:92 狂热；L 飞翼  81:71 自由人<br/></br>
            自由人队在新赛季首场比赛，爆冷战胜了阳光队之后，便高开低走，持续低迷，本周以三场失利而告终；<br/></br>
            先是在客场惨败给给卫冕冠军天空队33分，然后在主场加时又输给弱旅狂热，以及主场有输给飞翼10分；<br/></br>
            自由队在前两周的场均得分（83.8 分）和罚球次数（每场 22.8 次）是所有球队中排名第二高的，显而易见，这支球队最大的问题出在防守端；如果不能解决防守端的问题，她们将会继续在球队实力榜中排名垫底。<br/></br>
        </div>
    </div>
    <div class="bottom">
        <div class="bottom-text">
            本网站服务由[篮彩老黑]独家提供<br/>
            <span>版权所有ICP证：</span>
            <a href="https://beian.miit.gov.cn/" target="_blank" class="bottom-link">浙ICP备17001885号-5</a><br/>
            Copyright © 2023 cbdyou.com.cn 保留一切权利
        </div>
        <div class="bottom-qrcode"><img src="https://lancailaohei.oss-cn-hangzhou.aliyuncs.com/common/lancai_qrcode_plus.jpg" /></div>
    </div>
</div>
<script type="text/javascript" src="{{libsPath('vue.min.js')}}"></script>
{{/block}}